/* line 1, ../sass/style.scss */
.header {
  border-bottom: 1px solid #7da1af;
  box-shadow: 1px 1px 5px #7da1af;
  background-color: #fff;
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}
/* line 12, ../sass/style.scss */
.header .super-nav .container .toggle-menu {
  display: none;
}
/* line 15, ../sass/style.scss */
.header .super-nav .container .logo {
  display: inline-block;
  width: 140px;
}
/* line 19, ../sass/style.scss */
.header .super-nav .container .search-wrap {
  display: none;
}
/* line 23, ../sass/style.scss */
.header .super-nav .container .menu-tab {
  display: inline-block;
  padding: 0 31px;
}
/* line 26, ../sass/style.scss */
.header .super-nav .container .menu-tab .smc-logo {
  display: none;
}
/* line 29, ../sass/style.scss */
.header .super-nav .container .menu-tab .close-menu {
  display: none;
}
/* line 32, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu {
  margin-bottom: 0;
  font-size: 0;
}
/* line 35, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li {
  display: inline-block;
  padding: 22px 30px;
  border-width: 0 0 0 2px;
  border-style: solid;
  -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#7da1af), to(#fff)) 1 100%;
}
/* line 42, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li a {
  font-size: 18px;
  font-weight: bold;
  color: #376596;
}
/* line 49, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li.submenu .submenu-wrap {
  display: none;
  position: absolute;
  width: 73%;
  left: 204px;
  background-image: linear-gradient(to right, #1c2027, #2b5077, #1c2027);
  top: 71px;
  padding: 15px 25px;
  opacity: 0.95;
}
/* line 60, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li.submenu .submenu-wrap .menu-item li {
  border-width: 0;
  border-style: none;
  display: block;
  padding: 8px 0;
}
/* line 65, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li.submenu .submenu-wrap .menu-item li a {
  color: #fff;
  font-size: 14px;
}
/* line 69, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li.submenu .submenu-wrap .menu-item li a:hover {
  opacity: 0.75;
}
/* line 72, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li.submenu .submenu-wrap .menu-item li a.active {
  color: #64a7d2;
}
/* line 76, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li.submenu .submenu-wrap .menu-item li:hover {
  background-color: transparent;
}
/* line 83, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li.submenu:hover .submenu-wrap {
  display: block;
}
/* line 89, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li:hover {
  background-color: #2b5077;
}
/* line 92, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li:hover a {
  color: #fff;
  text-decoration: none;
}
/* line 98, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li.active {
  background-color: #2b5077;
}
/* line 100, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li.active a {
  color: #fff;
  text-decoration: none;
}
/* line 106, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li:last-child {
  border-width: 0 2px 0 2px;
  border-style: solid;
  -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#7da1af), to(#fff)) 1 100%;
}
/* line 116, ../sass/style.scss */
.header .super-nav .container .search-box {
  display: inline-block;
}
/* line 119, ../sass/style.scss */
.header .super-nav .container .search-box .search-icon {
  cursor: pointer;
  position: absolute;
  top: 29px;
  margin-left: 8px;
  font-size: 13px;
  color: #436f81;
}
/* line 128, ../sass/style.scss */
.header .super-nav .container .search-box .search-input {
  border: none;
  font-size: 14px;
  background-color: #b1daea73;
  outline: none;
  border-radius: 3px;
  padding: 4px 0px 4px 25px;
  color: #436f81;
}
/* line 137, ../sass/style.scss */
.header .super-nav .container .search-box .search-input::placeholder {
  color: #436f81;
}
/* line 142, ../sass/style.scss */
.header .super-nav .container .search-box .btn-bg {
  border: 2px solid #fd6603;
  color: #fd6603;
  background-color: transparent;
  outline: none;
  padding: 2px 8px;
  margin-left: -5px;
}
/* line 150, ../sass/style.scss */
.header .super-nav .container .search-box .btn-bg:hover {
  color: #fff;
  background-color: #fd6603;
}
/* line 158, ../sass/style.scss */
.header .secondary-nav {
  background-image: linear-gradient(to right, #1c2027, #2b5077, #1c2027);
  border-bottom: 2px solid #85b9ce;
}
/* line 163, ../sass/style.scss */
.header .secondary-nav nav ul {
  margin-bottom: 0;
}
/* line 165, ../sass/style.scss */
.header .secondary-nav nav ul li {
  display: inline-block;
  padding: 5px 10px;
}
/* line 169, ../sass/style.scss */
.header .secondary-nav nav ul li a {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
/* line 174, ../sass/style.scss */
.header .secondary-nav nav ul li a:hover {
  text-decoration: none;
}
/* line 178, ../sass/style.scss */
.header .secondary-nav nav ul li a.active {
  background-color: #fff;
  color: gray;
  padding: 2px 10px 12px 10px;
  border-width: 2px 2px 0 2px;
  border-style: solid;
  border-color: #85b9ce;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
/* line 190, ../sass/style.scss */
.header .secondary-nav nav ul li:first-child {
  padding-left: 0;
}
/* line 195, ../sass/style.scss */
.header .secondary-nav nav ul span {
  color: #85b9ce;
  padding: 5px 0;
}
/* line 202, ../sass/style.scss */
.header .tab-dropdown {
  display: none;
}
/* line 207, ../sass/style.scss */
.header .breadcrumb-wrap nav .breadcrumb {
  margin-bottom: 0;
  background-color: #fff;
  padding: 12px 0;
}
/* line 212, ../sass/style.scss */
.header .breadcrumb-wrap nav .breadcrumb .breadcrumb-item {
  font-weight: bold;
  font-size: 16px;
  color: #376596;
}
/* line 219, ../sass/style.scss */
.header .breadcrumb-wrap nav .breadcrumb .breadcrumb-item a:hover {
  text-decoration: none;
}
/* line 222, ../sass/style.scss */
.header .breadcrumb-wrap nav .breadcrumb .breadcrumb-item a.active {
  color: #6c757d;
  cursor: default;
}

/* line 234, ../sass/style.scss */
.main-container {
  margin-top: 154px;
  overflow: hidden;
}
/* line 238, ../sass/style.scss */
.main-container .left-wrapper {
  float: left;
  display: inline-block;
  width: 71%;
  padding-right: 100px;
  text-align: justify;
  border-right: 2px solid #aadff5;
}
/* line 245, ../sass/style.scss */
.main-container .left-wrapper h2 {
  display: inline-block;
  text-align: left;
  color: #2b5077;
  font-weight: bold;
  padding: 15px 0;
  margin-top: 8px;
}
/* line 253, ../sass/style.scss */
.main-container .left-wrapper p {
  color: #6c757d;
  font-size: 15px;
}
/* line 258, ../sass/style.scss */
.main-container .right-wrapper {
  display: inline-block;
}
/* line 260, ../sass/style.scss */
.main-container .right-wrapper .img-quickserver {
  width: 334px;
  border: 2px solid #aadff5;
  border-radius: 10px;
  margin: 50px 0 0 -13px;
  background-color: #fff;
}
/* line 267, ../sass/style.scss */
.main-container .right-wrapper .img-desc {
  margin-left: 20px;
  width: 203px;
  color: #6c757d;
}
/* line 272, ../sass/style.scss */
.main-container .right-wrapper .img-desc h6 {
  margin: 25px 0;
}
/* line 276, ../sass/style.scss */
.main-container .right-wrapper .img-desc .img-features {
  margin-left: 15px;
  list-style-type: none;
}
/* line 280, ../sass/style.scss */
.main-container .right-wrapper .img-desc .img-features li {
  font-weight: bold;
}
/* line 283, ../sass/style.scss */
.main-container .right-wrapper .img-desc .img-features li::before {
  content: "\2022";
  color: #fd6603;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* line 300, ../sass/style.scss */
.connect-buynow .left-wrapper h6 {
  display: inline-block;
  color: #2b5077;
  font-weight: bold;
  padding: 10px 0;
}
/* line 306, ../sass/style.scss */
.connect-buynow .left-wrapper .super-ul {
  padding: 0 15px 15px 15px;
  list-style-type: none;
}
/* line 310, ../sass/style.scss */
.connect-buynow .left-wrapper .super-ul li {
  color: #6c757d;
  font-size: 15px;
}
/* line 314, ../sass/style.scss */
.connect-buynow .left-wrapper .super-ul li .secondary-ul {
  list-style-type: none;
  margin: 0 20px;
}
/* line 317, ../sass/style.scss */
.connect-buynow .left-wrapper .super-ul li .secondary-ul li {
  color: #3483d8;
}
/* line 320, ../sass/style.scss */
.connect-buynow .left-wrapper .super-ul li .secondary-ul li::before {
  content: "\2012";
  color: #fd6603;
  font-weight: bold;
  display: inline-block;
  width: 16px;
  margin-left: -16px;
}
/* line 331, ../sass/style.scss */
.connect-buynow .left-wrapper .super-ul li::before {
  content: "\2022";
  color: #fd6603;
  font-weight: bold;
  display: inline-block;
  width: 16px;
  margin-left: -16px;
}

/* line 347, ../sass/style.scss */
.connect-protocol .left-wrapper h6 {
  margin: 0 0;
  color: #2b5077;
  font-weight: bold;
}
/* line 352, ../sass/style.scss */
.connect-protocol .left-wrapper .all-protocols {
  padding: 10px 0;
}
/* line 355, ../sass/style.scss */
.connect-protocol .left-wrapper .all-protocols i {
  margin: 0 5px 0 0;
}
/* line 362, ../sass/style.scss */
.connect-protocol .right-wrapper .img-quickserver img {
  border-radius: 10px;
}
/* line 366, ../sass/style.scss */
.connect-protocol .right-wrapper .img-desc {
  width: 260px;
}
/* line 369, ../sass/style.scss */
.connect-protocol .right-wrapper .img-desc h6 {
  margin: 25px 0;
  font-weight: bold;
  color: #2b5077;
}
/* line 379, ../sass/style.scss */
.connect-protocol .protocol-carousel .container {
  border-top: 2px solid #aadff5;
}
/* line 382, ../sass/style.scss */
.connect-protocol .protocol-carousel .container .owl-carousel {
  padding: 25px 0;
}
/* line 386, ../sass/style.scss */
.connect-protocol .protocol-carousel .container .owl-carousel .owl-nav button {
  outline: none;
}
/* line 389, ../sass/style.scss */
.connect-protocol .protocol-carousel .container .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: -28px;
  top: 25px;
  color: #fd6603;
  width: 5px;
  font-weight: bold;
  font-size: 40px;
}
/* line 398, ../sass/style.scss */
.connect-protocol .protocol-carousel .container .owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: -20px;
  top: 25px;
  color: #fd6603;
  width: 5px;
  font-weight: bold;
  font-size: 40px;
}
/* line 408, ../sass/style.scss */
.connect-protocol .protocol-carousel .container .owl-carousel .owl-nav.disabled {
  display: block;
}
/* line 412, ../sass/style.scss */
.connect-protocol .protocol-carousel .container .owl-carousel .owl-dots {
  display: none;
}

/* line 426, ../sass/style.scss */
.connect-resources .left-wrapper .card {
  position: static;
  border: none;
}
/* line 430, ../sass/style.scss */
.connect-resources .left-wrapper .card .card-header {
  padding: 3px 0;
  background-color: transparent;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #aadff5;
}
/* line 439, ../sass/style.scss */
.connect-resources .left-wrapper .card:last-child .card-header {
  border-bottom: 1px solid #aadff5;
}
/* line 444, ../sass/style.scss */
.connect-resources .left-wrapper .card .card-body {
  border-top: 1px solid #aadff5;
}
/* line 452, ../sass/style.scss */
.connect-resources .right-wrapper .request-btn {
  outline: none;
  margin: 30px 20px;
}
/* line 456, ../sass/style.scss */
.connect-resources .right-wrapper .request-btn .btn-bg {
  outline: none;
  color: #fff;
  background-color: #fd6603;
  font-weight: bold;
}
/* line 462, ../sass/style.scss */
.connect-resources .right-wrapper .request-btn .btn-bg:hover {
  color: #fd6603;
  background-color: transparent;
  border: 1px solid #fd6603;
}
/* line 470, ../sass/style.scss */
.connect-resources .right-wrapper .img-quickserver {
  margin: 22px 0 0 -13px;
}
/* line 472, ../sass/style.scss */
.connect-resources .right-wrapper .img-quickserver img {
  border-radius: 10px;
}
/* line 476, ../sass/style.scss */
.connect-resources .right-wrapper .img-desc {
  width: 260px;
}
/* line 479, ../sass/style.scss */
.connect-resources .right-wrapper .img-desc h6 {
  margin: 25px 0;
  font-weight: bold;
  color: #2b5077;
}

/* line 490, ../sass/style.scss */
.connect-specification h2 {
  display: inline-block;
  text-align: left;
  color: #2b5077;
  font-weight: bold;
  margin-top: 8px;
  padding: 15px 0px;
}
/* line 498, ../sass/style.scss */
.connect-specification h6 {
  color: #2b5077;
  font-weight: bold;
}
/* line 502, ../sass/style.scss */
.connect-specification .table-bordered {
  border: 1px solid #2b5077;
}
/* line 507, ../sass/style.scss */
.connect-specification .table th, .connect-specification .table td {
  text-align: center;
  color: #4d4f50;
  font-weight: normal;
  font-size: 14px;
  border: 2px solid #2b5077;
}
/* line 515, ../sass/style.scss */
.connect-specification .table .colspan-heading {
  background-color: #2b5077;
}
/* line 518, ../sass/style.scss */
.connect-specification .table .colspan-heading h6 {
  color: #fff;
  margin: 5px 0;
}
/* line 524, ../sass/style.scss */
.connect-specification .table .rowspan-heading {
  padding: 0;
  background-color: #2b5077;
  max-width: 20px;
  display: table-cell;
  vertical-align: middle;
}
/* line 532, ../sass/style.scss */
.connect-specification .table .rowspan-heading .headingV {
  transform: rotate(270deg);
  color: #fff;
  margin: 5px 0;
}
/* line 539, ../sass/style.scss */
.connect-specification ul {
  padding: 0 15px 15px 15px;
  list-style-type: none;
}
/* line 543, ../sass/style.scss */
.connect-specification ul li {
  color: #6c757d;
  font-size: 15px;
}
/* line 547, ../sass/style.scss */
.connect-specification ul li::before {
  content: "\2022";
  color: #fd6603;
  font-weight: bold;
  display: inline-block;
  width: 16px;
  margin-left: -16px;
}

/* line 560, ../sass/style.scss */
.footer {
  border-top: 2px solid #aadff5;
}
/* line 564, ../sass/style.scss */
.footer .container .upper-footer-wrapper {
  width: 72%;
  padding: 5px 100px 5px 0;
  cursor: pointer;
}
/* line 569, ../sass/style.scss */
.footer .container .upper-footer-wrapper .link-wrapper {
  display: inline-block;
}
/* line 572, ../sass/style.scss */
.footer .container .upper-footer-wrapper .link-wrapper .link-outer .arrow {
  color: #fd6603;
  font-weight: bold;
  margin-right: 5px;
  cursor: pointer;
}
/* line 579, ../sass/style.scss */
.footer .container .upper-footer-wrapper .link-wrapper .link-outer a {
  color: #2b5077;
  font-size: 14px;
  vertical-align: middle;
}
/* line 584, ../sass/style.scss */
.footer .container .upper-footer-wrapper .link-wrapper .link-outer a:hover {
  text-decoration: none;
  color: #214264;
}
/* line 595, ../sass/style.scss */
.footer .expand-view {
  display: none;
  background-image: linear-gradient(to right, #1c2027, #2b5077, #1c2027);
  color: #fff;
}
/* line 600, ../sass/style.scss */
.footer .expand-view .container p {
  padding: 20px;
  margin-bottom: 0;
}
/* line 606, ../sass/style.scss */
.footer .expand-view .container .row ul {
  list-style-type: none;
  margin: 16px;
}
/* line 610, ../sass/style.scss */
.footer .expand-view .container .row ul li a {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}
/* line 615, ../sass/style.scss */
.footer .expand-view .container .row ul li a:hover {
  text-decoration: none;
}
/* line 622, ../sass/style.scss */
.footer .expand-view .container::before {
  content: '';
  position: absolute;
  right: 674px;
  width: 0;
  height: 0;
  z-index: 1;
  border-top: solid 10px #FFF;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}
/* line 634, ../sass/style.scss */
.footer .expand-view::before {
  content: '';
  position: absolute;
  left: 198px;
  width: 0;
  height: 0;
  z-index: 1;
  border-top: solid 10px #FFF;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}
/* line 647, ../sass/style.scss */
.footer .lower-footer-wrapper {
  border-top: 2px solid #aadff5;
  padding: 5px 0 50px 0;
}
/* line 651, ../sass/style.scss */
.footer .lower-footer-wrapper .copy-right {
  font-size: 12px;
  color: #6c757d;
}
/* line 656, ../sass/style.scss */
.footer .lower-footer-wrapper .footer-links {
  display: inline-block;
  font-size: 13px;
}
/* line 660, ../sass/style.scss */
.footer .lower-footer-wrapper .footer-links a {
  color: #376596;
}
/* line 663, ../sass/style.scss */
.footer .lower-footer-wrapper .footer-links a:hover {
  text-decoration: none;
  color: #214264;
}
/* line 671, ../sass/style.scss */
.footer .lower-footer-wrapper .footer-links .social-links ul li {
  display: inline-block;
  width: 30px;
}
/* line 676, ../sass/style.scss */
.footer .lower-footer-wrapper .footer-links .social-links ul li a:hover {
  opacity: 0.75;
}

@media only screen and (max-width: 1199px) {
  /* line 5, ../sass/responsive.scss */
  .header .super-nav .container .logo {
    width: 120px;
  }
  /* line 8, ../sass/responsive.scss */
  .header .super-nav .container .search-box {
    display: inline-block;
  }
  /* line 10, ../sass/responsive.scss */
  .header .super-nav .container .search-box .search-icon {
    top: 24px;
  }
  /* line 14, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab {
    padding: 0 10px;
  }
  /* line 18, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li {
    padding: 17px 15px;
  }

  /* line 26, ../sass/responsive.scss */
  .main-container {
    margin-top: 145px;
  }
  /* line 29, ../sass/responsive.scss */
  .main-container .left-wrapper {
    padding-right: 73px;
  }
  /* line 34, ../sass/responsive.scss */
  .main-container .right-wrapper .img-quickserver {
    width: 282px;
  }
  /* line 38, ../sass/responsive.scss */
  .main-container .right-wrapper .img-desc {
    width: 249px;
  }
}
@media only screen and (max-width: 991px) {
  /* line 46, ../sass/responsive.scss */
  .container {
    max-width: 991px;
    text-align: center;
  }

  /* line 51, ../sass/responsive.scss */
  .header {
    z-index: 1;
  }
  /* line 55, ../sass/responsive.scss */
  .header .super-nav .container {
    position: relative;
    text-align: center;
  }
  /* line 58, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 0;
    background-color: #0c3c61;
    opacity: 0.95;
    text-align: left;
    z-index: 999;
  }
  /* line 70, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .smc-logo {
    display: inline-block;
    width: 175px;
    padding: 17px 0 17px 18px;
  }
  /* line 75, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .close-menu {
    display: inline-block;
    float: right;
  }
  /* line 79, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .close-menu .btn-bg {
    padding: 15px;
    outline: none;
    background: transparent;
    border: none;
  }
  /* line 85, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .close-menu .btn-bg i {
    color: #fd6603;
  }
  /* line 92, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li {
    display: block;
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: #fd6603;
  }
  /* line 98, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li .arrow {
    font-size: 32px;
    float: right;
    color: #fd6603;
    cursor: pointer;
  }
  /* line 105, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li a {
    color: #fff;
    font-size: 23px;
    font-weight: normal;
  }
  /* line 111, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li:last-child {
    border: 0;
  }
  /* line 115, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li.active {
    background-color: transparent;
  }
  /* line 117, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li.active a {
    color: #fff;
  }
  /* line 122, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li:hover {
    background-color: transparent;
  }
  /* line 124, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li:hover a {
    color: #fff;
  }
  /* line 130, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li.submenu:hover .submenu-wrap {
    display: none;
  }
  /* line 139, ../sass/responsive.scss */
  .header .super-nav .container .search-wrap {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 12px 10px 11px 25px;
    border-width: 0 0 0 2px;
    border-style: solid;
    -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#7da1af), to(#fff)) 1 100%;
  }
  /* line 148, ../sass/responsive.scss */
  .header .super-nav .container .search-wrap .search-icon {
    color: #fd6603;
    margin-left: 0;
    font-size: 30px;
  }
  /* line 153, ../sass/responsive.scss */
  .header .super-nav .container .search-wrap .arrow {
    display: inline-block;
    color: #fd6603;
  }
  /* line 159, ../sass/responsive.scss */
  .header .super-nav .container .search-box {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    padding: 0 15px;
    background-color: white;
  }
  /* line 168, ../sass/responsive.scss */
  .header .super-nav .container .search-box .search-icon {
    top: 8px;
    right: 22px;
  }
  /* line 173, ../sass/responsive.scss */
  .header .super-nav .container .search-box .search-input {
    width: 100%;
    padding: 4px 0px 4px 15px;
  }
  /* line 178, ../sass/responsive.scss */
  .header .super-nav .container .search-box button {
    display: none;
  }
  /* line 183, ../sass/responsive.scss */
  .header .super-nav .container .toggle-menu {
    display: inline-block;
    float: left;
    padding: 7px 25px 4px 10px;
    border-width: 0 2px 0 0px;
    border-style: solid;
    -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#7da1af), to(#fff)) 1 100%;
  }
  /* line 192, ../sass/responsive.scss */
  .header .super-nav .container .toggle-menu .btn-bg {
    padding: 6px 0px;
    outline: none;
    background: transparent;
    border: none;
  }
  /* line 198, ../sass/responsive.scss */
  .header .super-nav .container .toggle-menu .btn-bg i {
    color: #fd6603;
  }
  /* line 205, ../sass/responsive.scss */
  .header .secondary-nav {
    display: none;
  }
  /* line 209, ../sass/responsive.scss */
  .header .tab-dropdown {
    display: block;
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    margin: 0 15px;
  }
  /* line 217, ../sass/responsive.scss */
  .header .tab-dropdown a {
    border: 2px solid #aadff5;
    width: 100%;
    text-align: left;
    color: #000;
    font-size: 18px;
    font-weight: bold;
  }
  /* line 225, ../sass/responsive.scss */
  .header .tab-dropdown a:after {
    display: none;
  }
  /* line 229, ../sass/responsive.scss */
  .header .tab-dropdown .arrow-down {
    font-size: 32px;
    float: right;
    color: #fd6603;
    cursor: pointer;
  }
  /* line 237, ../sass/responsive.scss */
  .header .breadcrumb-wrap {
    display: none;
  }

  /* line 242, ../sass/responsive.scss */
  .main-container {
    margin-top: 115px;
  }
  /* line 245, ../sass/responsive.scss */
  .main-container .left-wrapper {
    padding: 0 0 45px 0;
    float: none;
    display: block;
    width: 100%;
    text-align: justify;
    border-right: 0;
    border-bottom: 2px solid #aadff5;
  }
  /* line 256, ../sass/responsive.scss */
  .main-container .right-wrapper .img-quickserver {
    margin: -13px 0 0 0;
  }
  /* line 259, ../sass/responsive.scss */
  .main-container .right-wrapper .img-desc {
    text-align: left;
  }

  /* line 269, ../sass/responsive.scss */
  .connect-specification .container {
    text-align: left;
  }
}
