/* line 1, ../sass/style.scss */
.header {
  border-bottom: 1px solid #7da1af;
  box-shadow: 1px 1px 5px #7da1af;
  background-color: #fff;
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}
/* line 13, ../sass/style.scss */
.header .super-nav .container .toggle-menu {
  display: none;
}
/* line 16, ../sass/style.scss */
.header .super-nav .container .logo {
  display: inline-block;
  width: 140px;
}
/* line 20, ../sass/style.scss */
.header .super-nav .container .search-wrap {
  display: none;
}
/* line 24, ../sass/style.scss */
.header .super-nav .container .menu-tab {
  display: inline-block;
  padding: 0 31px;
}
/* line 27, ../sass/style.scss */
.header .super-nav .container .menu-tab .smc-logo {
  display: none;
}
/* line 30, ../sass/style.scss */
.header .super-nav .container .menu-tab .close-menu {
  display: none;
}
/* line 33, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu {
  margin-bottom: 0;
  font-size: 0;
}
/* line 36, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li {
  display: inline-block;
  padding: 22px 30px;
  border-width: 0 0 0 2px;
  border-style: solid;
  -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#7da1af), to(#fff)) 1 100%;
}
/* line 43, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li a {
  font-size: 18px;
  font-weight: bold;
  color: #376596;
}
/* line 50, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li.submenu .submenu-wrap {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  background-image: linear-gradient(to right, #1c2027, #2b5077, #1c2027);
  top: 71px;
  padding: 15px 25px;
  opacity: 0.95;
}
/* line 62, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li.submenu .submenu-wrap .menu-item li {
  border-width: 0;
  border-style: none;
  display: block;
  padding: 8px 0;
}
/* line 67, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li.submenu .submenu-wrap .menu-item li a {
  color: #fff;
  font-size: 14px;
}
/* line 71, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li.submenu .submenu-wrap .menu-item li a:hover {
  opacity: 0.75;
}
/* line 74, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li.submenu .submenu-wrap .menu-item li a.active {
  color: #64a7d2;
}
/* line 78, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li.submenu .submenu-wrap .menu-item li:hover {
  background-color: transparent;
}
/* line 85, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li.submenu:hover .submenu-wrap {
  display: block;
}
/* line 91, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li:hover {
  background-color: #2b5077;
}
/* line 94, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li:hover a {
  color: #fff;
  text-decoration: none;
}
/* line 100, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li.active {
  background-color: #2b5077;
}
/* line 102, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li.active a {
  color: #fff;
  text-decoration: none;
}
/* line 108, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li:last-child {
  border-width: 0 2px 0 2px;
  border-style: solid;
  -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#7da1af), to(#fff)) 1 100%;
}
/* line 118, ../sass/style.scss */
.header .super-nav .container .search-box {
  display: inline-block;
}
/* line 121, ../sass/style.scss */
.header .super-nav .container .search-box .search-icon {
  cursor: pointer;
  position: absolute;
  top: 29px;
  margin-left: 8px;
  font-size: 13px;
  color: #436f81;
}
/* line 130, ../sass/style.scss */
.header .super-nav .container .search-box .search-input {
  border: none;
  font-size: 14px;
  background-color: #b1daea73;
  outline: none;
  border-radius: 3px;
  padding: 4px 0px 4px 25px;
  color: #436f81;
}
/* line 139, ../sass/style.scss */
.header .super-nav .container .search-box .search-input::placeholder {
  color: #436f81;
}
/* line 144, ../sass/style.scss */
.header .super-nav .container .search-box .btn-bg {
  border: 2px solid #fd6603;
  color: #fd6603;
  background-color: transparent;
  outline: none;
  padding: 2px 8px;
  margin-left: -5px;
}
/* line 152, ../sass/style.scss */
.header .super-nav .container .search-box .btn-bg:hover {
  color: #fff;
  background-color: #fd6603;
}
/* line 160, ../sass/style.scss */
.header .secondary-nav {
  background-image: linear-gradient(to right, #1c2027, #2b5077, #1c2027);
  border-bottom: 2px solid #85b9ce;
}
/* line 165, ../sass/style.scss */
.header .secondary-nav nav ul {
  margin-bottom: 0;
}
/* line 167, ../sass/style.scss */
.header .secondary-nav nav ul li {
  display: inline-block;
  padding: 5px 10px;
}
/* line 171, ../sass/style.scss */
.header .secondary-nav nav ul li a {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
/* line 176, ../sass/style.scss */
.header .secondary-nav nav ul li a:hover {
  text-decoration: none;
}
/* line 180, ../sass/style.scss */
.header .secondary-nav nav ul li a.active {
  background-color: #fff;
  color: gray;
  padding: 2px 10px 12px 10px;
  border-width: 2px 2px 0 2px;
  border-style: solid;
  border-color: #85b9ce;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
/* line 192, ../sass/style.scss */
.header .secondary-nav nav ul li:first-child {
  padding-left: 0;
}
/* line 197, ../sass/style.scss */
.header .secondary-nav nav ul span {
  color: #85b9ce;
  padding: 5px 0;
}
/* line 204, ../sass/style.scss */
.header .tab-dropdown {
  display: none;
}
/* line 209, ../sass/style.scss */
.header .breadcrumb-wrap nav .breadcrumb {
  margin-bottom: 0;
  background-color: #fff;
  padding: 12px 0;
}
/* line 214, ../sass/style.scss */
.header .breadcrumb-wrap nav .breadcrumb .breadcrumb-item {
  font-weight: bold;
  font-size: 16px;
  color: #376596;
}
/* line 221, ../sass/style.scss */
.header .breadcrumb-wrap nav .breadcrumb .breadcrumb-item a:hover {
  text-decoration: none;
}
/* line 224, ../sass/style.scss */
.header .breadcrumb-wrap nav .breadcrumb .breadcrumb-item a.active {
  color: #6c757d;
  cursor: default;
}

/* line 236, ../sass/style.scss */
.main-container {
  margin-top: 154px;
  overflow: hidden;
}
/* line 240, ../sass/style.scss */
.main-container .left-wrapper {
  float: left;
  display: inline-block;
  width: 71%;
  padding-right: 100px;
  text-align: justify;
  border-right: 2px solid #aadff5;
}
/* line 247, ../sass/style.scss */
.main-container .left-wrapper h2 {
  display: inline-block;
  text-align: left;
  color: #2b5077;
  font-weight: bold;
  padding: 15px 0;
  margin-top: 8px;
}
/* line 255, ../sass/style.scss */
.main-container .left-wrapper p {
  color: #6c757d;
  font-size: 15px;
}
/* line 260, ../sass/style.scss */
.main-container .right-wrapper {
  display: inline-block;
}
/* line 262, ../sass/style.scss */
.main-container .right-wrapper .img-quickserver {
  width: 334px;
  border: 2px solid #aadff5;
  border-radius: 10px;
  margin: 50px 0 0 -13px;
  background-color: #fff;
}
/* line 269, ../sass/style.scss */
.main-container .right-wrapper .img-desc {
  margin-left: 20px;
  width: 203px;
  color: #6c757d;
}
/* line 274, ../sass/style.scss */
.main-container .right-wrapper .img-desc h6 {
  margin: 25px 0;
}
/* line 278, ../sass/style.scss */
.main-container .right-wrapper .img-desc .img-features {
  margin-left: 15px;
  list-style-type: none;
}
/* line 282, ../sass/style.scss */
.main-container .right-wrapper .img-desc .img-features li {
  font-weight: bold;
}
/* line 285, ../sass/style.scss */
.main-container .right-wrapper .img-desc .img-features li::before {
  content: "\2022";
  color: #fd6603;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* line 302, ../sass/style.scss */
.connect-buynow .left-wrapper h6 {
  display: inline-block;
  color: #2b5077;
  font-weight: bold;
  padding: 10px 0;
}
/* line 308, ../sass/style.scss */
.connect-buynow .left-wrapper .super-ul {
  padding: 0 15px 15px 15px;
  list-style-type: none;
}
/* line 312, ../sass/style.scss */
.connect-buynow .left-wrapper .super-ul li {
  color: #6c757d;
  font-size: 15px;
}
/* line 316, ../sass/style.scss */
.connect-buynow .left-wrapper .super-ul li .secondary-ul {
  list-style-type: none;
  margin: 0 20px;
}
/* line 319, ../sass/style.scss */
.connect-buynow .left-wrapper .super-ul li .secondary-ul li {
  color: #3483d8;
}
/* line 322, ../sass/style.scss */
.connect-buynow .left-wrapper .super-ul li .secondary-ul li::before {
  content: "\2012";
  color: #fd6603;
  font-weight: bold;
  display: inline-block;
  width: 16px;
  margin-left: -16px;
}
/* line 333, ../sass/style.scss */
.connect-buynow .left-wrapper .super-ul li::before {
  content: "\2022";
  color: #fd6603;
  font-weight: bold;
  display: inline-block;
  width: 16px;
  margin-left: -16px;
}

/* line 349, ../sass/style.scss */
.connect-protocol .left-wrapper h6 {
  margin: 0 0;
  color: #2b5077;
  font-weight: bold;
}
/* line 354, ../sass/style.scss */
.connect-protocol .left-wrapper .all-protocols {
  padding: 10px 0;
}
/* line 357, ../sass/style.scss */
.connect-protocol .left-wrapper .all-protocols i {
  margin: 0 5px 0 0;
}
/* line 364, ../sass/style.scss */
.connect-protocol .right-wrapper .img-quickserver img {
  border-radius: 10px;
}
/* line 368, ../sass/style.scss */
.connect-protocol .right-wrapper .img-desc {
  width: 260px;
}
/* line 371, ../sass/style.scss */
.connect-protocol .right-wrapper .img-desc h6 {
  margin: 25px 0;
  font-weight: bold;
  color: #2b5077;
}
/* line 381, ../sass/style.scss */
.connect-protocol .protocol-carousel .container {
  border-top: 2px solid #aadff5;
}
/* line 384, ../sass/style.scss */
.connect-protocol .protocol-carousel .container .owl-carousel {
  padding: 25px 0;
}
/* line 388, ../sass/style.scss */
.connect-protocol .protocol-carousel .container .owl-carousel .owl-nav button {
  outline: none;
}
/* line 391, ../sass/style.scss */
.connect-protocol .protocol-carousel .container .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: -28px;
  top: 25px;
  color: #fd6603;
  width: 5px;
  font-weight: bold;
  font-size: 40px;
}
/* line 400, ../sass/style.scss */
.connect-protocol .protocol-carousel .container .owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: -20px;
  top: 25px;
  color: #fd6603;
  width: 5px;
  font-weight: bold;
  font-size: 40px;
}
/* line 410, ../sass/style.scss */
.connect-protocol .protocol-carousel .container .owl-carousel .owl-nav.disabled {
  display: block;
}
/* line 414, ../sass/style.scss */
.connect-protocol .protocol-carousel .container .owl-carousel .owl-dots {
  display: none;
}

/* line 428, ../sass/style.scss */
.connect-resources .left-wrapper .card {
  position: static;
  border: none;
}
/* line 432, ../sass/style.scss */
.connect-resources .left-wrapper .card .card-header {
  padding: 3px 0;
  background-color: transparent;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #aadff5;
}
/* line 441, ../sass/style.scss */
.connect-resources .left-wrapper .card:last-child .card-header {
  border-bottom: 1px solid #aadff5;
}
/* line 446, ../sass/style.scss */
.connect-resources .left-wrapper .card .card-body {
  border-top: 1px solid #aadff5;
}
/* line 454, ../sass/style.scss */
.connect-resources .right-wrapper .request-btn {
  outline: none;
  margin: 30px 20px;
}
/* line 458, ../sass/style.scss */
.connect-resources .right-wrapper .request-btn .btn-bg {
  outline: none;
  color: #fff;
  background-color: #fd6603;
  font-weight: bold;
}
/* line 464, ../sass/style.scss */
.connect-resources .right-wrapper .request-btn .btn-bg:hover {
  color: #fd6603;
  background-color: transparent;
  border: 1px solid #fd6603;
}
/* line 472, ../sass/style.scss */
.connect-resources .right-wrapper .img-quickserver {
  margin: 22px 0 0 -13px;
}
/* line 474, ../sass/style.scss */
.connect-resources .right-wrapper .img-quickserver img {
  border-radius: 10px;
}
/* line 478, ../sass/style.scss */
.connect-resources .right-wrapper .img-desc {
  width: 260px;
}
/* line 481, ../sass/style.scss */
.connect-resources .right-wrapper .img-desc h6 {
  margin: 25px 0;
  font-weight: bold;
  color: #2b5077;
}

/* line 492, ../sass/style.scss */
.connect-specification h2 {
  display: inline-block;
  text-align: left;
  color: #2b5077;
  font-weight: bold;
  margin-top: 8px;
  padding: 15px 0px;
}
/* line 500, ../sass/style.scss */
.connect-specification h6 {
  color: #2b5077;
  font-weight: bold;
}
/* line 504, ../sass/style.scss */
.connect-specification .table-bordered {
  border: 1px solid #2b5077;
}
/* line 509, ../sass/style.scss */
.connect-specification .table th, .connect-specification .table td {
  text-align: center;
  color: #4d4f50;
  font-weight: normal;
  font-size: 14px;
  border: 2px solid #2b5077;
}
/* line 517, ../sass/style.scss */
.connect-specification .table .colspan-heading {
  background-color: #2b5077;
}
/* line 520, ../sass/style.scss */
.connect-specification .table .colspan-heading h6 {
  color: #fff;
  margin: 5px 0;
}
/* line 526, ../sass/style.scss */
.connect-specification .table .rowspan-heading {
  padding: 0;
  background-color: #2b5077;
  max-width: 20px;
  display: table-cell;
  vertical-align: middle;
}
/* line 534, ../sass/style.scss */
.connect-specification .table .rowspan-heading .headingV {
  transform: rotate(270deg);
  color: #fff;
  margin: 5px 0;
}
/* line 541, ../sass/style.scss */
.connect-specification ul {
  padding: 0 15px 15px 15px;
  list-style-type: none;
}
/* line 545, ../sass/style.scss */
.connect-specification ul li {
  color: #6c757d;
  font-size: 15px;
}
/* line 549, ../sass/style.scss */
.connect-specification ul li::before {
  content: "\2022";
  color: #fd6603;
  font-weight: bold;
  display: inline-block;
  width: 16px;
  margin-left: -16px;
}

/* line 562, ../sass/style.scss */
.footer {
  border-top: 2px solid #aadff5;
}
/* line 566, ../sass/style.scss */
.footer .container .upper-footer-wrapper {
  width: 72%;
  padding: 5px 100px 5px 0;
  cursor: pointer;
}
/* line 571, ../sass/style.scss */
.footer .container .upper-footer-wrapper .link-wrapper {
  display: inline-block;
}
/* line 573, ../sass/style.scss */
.footer .container .upper-footer-wrapper .link-wrapper.floatL {
  float: left;
}
/* line 576, ../sass/style.scss */
.footer .container .upper-footer-wrapper .link-wrapper.floatR {
  float: right;
}
/* line 580, ../sass/style.scss */
.footer .container .upper-footer-wrapper .link-wrapper .link-outer .arrow {
  color: #fd6603;
  font-weight: bold;
  margin-right: 5px;
  cursor: pointer;
}
/* line 587, ../sass/style.scss */
.footer .container .upper-footer-wrapper .link-wrapper .link-outer a {
  color: #2b5077;
  font-size: 14px;
  vertical-align: middle;
}
/* line 592, ../sass/style.scss */
.footer .container .upper-footer-wrapper .link-wrapper .link-outer a:hover {
  text-decoration: none;
  color: #214264;
}
/* line 603, ../sass/style.scss */
.footer .expand-view {
  display: none;
  background-image: linear-gradient(to right, #1c2027, #2b5077, #1c2027);
  color: #fff;
}
/* line 608, ../sass/style.scss */
.footer .expand-view .container p {
  padding: 20px;
  margin-bottom: 0;
}
/* line 614, ../sass/style.scss */
.footer .expand-view .container .row ul {
  list-style-type: none;
  margin: 16px;
}
/* line 618, ../sass/style.scss */
.footer .expand-view .container .row ul li a {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}
/* line 623, ../sass/style.scss */
.footer .expand-view .container .row ul li a:hover {
  text-decoration: none;
}
/* line 630, ../sass/style.scss */
.footer .expand-view .container::before {
  content: '';
  position: absolute;
  right: 674px;
  width: 0;
  height: 0;
  z-index: 1;
  border-top: solid 10px #FFF;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}
/* line 642, ../sass/style.scss */
.footer .expand-view::before {
  content: '';
  position: absolute;
  left: 198px;
  width: 0;
  height: 0;
  z-index: 1;
  border-top: solid 10px #FFF;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}
/* line 655, ../sass/style.scss */
.footer .lower-footer-wrapper {
  border-top: 2px solid #aadff5;
  padding: 5px 0 50px 0;
}
/* line 659, ../sass/style.scss */
.footer .lower-footer-wrapper .copy-right {
  font-size: 12px;
  color: #6c757d;
}
/* line 664, ../sass/style.scss */
.footer .lower-footer-wrapper .footer-links {
  display: inline-block;
  font-size: 13px;
}
/* line 668, ../sass/style.scss */
.footer .lower-footer-wrapper .footer-links a {
  color: #376596;
}
/* line 671, ../sass/style.scss */
.footer .lower-footer-wrapper .footer-links a:hover {
  text-decoration: none;
  color: #214264;
}
/* line 679, ../sass/style.scss */
.footer .lower-footer-wrapper .footer-links .social-links ul li {
  display: inline-block;
  width: 30px;
}
/* line 684, ../sass/style.scss */
.footer .lower-footer-wrapper .footer-links .social-links ul li a:hover {
  opacity: 0.75;
}

@media only screen and (max-width: 1199px) {
  /* line 6, ../sass/responsive.scss */
  .header .super-nav .container .logo {
    width: 120px;
  }
  /* line 9, ../sass/responsive.scss */
  .header .super-nav .container .search-box {
    display: inline-block;
  }
  /* line 11, ../sass/responsive.scss */
  .header .super-nav .container .search-box .search-icon {
    top: 24px;
  }
  /* line 15, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab {
    padding: 0 10px;
  }
  /* line 19, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li {
    padding: 17px 15px;
  }
  /* line 23, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li.submenu .submenu-wrap {
    top: 61px;
  }

  /* line 34, ../sass/responsive.scss */
  .main-container {
    margin-top: 145px;
  }
  /* line 37, ../sass/responsive.scss */
  .main-container .left-wrapper {
    padding-right: 73px;
  }
  /* line 42, ../sass/responsive.scss */
  .main-container .right-wrapper .img-quickserver {
    width: 282px;
  }
  /* line 46, ../sass/responsive.scss */
  .main-container .right-wrapper .img-desc {
    width: 249px;
  }

  /* line 57, ../sass/responsive.scss */
  .connect-protocol .protocol-carousel .container .owl-carousel .owl-nav .owl-next {
    top: 20px;
  }
  /* line 60, ../sass/responsive.scss */
  .connect-protocol .protocol-carousel .container .owl-carousel .owl-nav .owl-prev {
    top: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 78, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li.submenu .submenu-wrap {
    top: 61px;
  }
}
@media only screen and (max-width: 991px) {
  /* line 91, ../sass/responsive.scss */
  .container {
    max-width: 991px;
    text-align: center;
  }

  /* line 96, ../sass/responsive.scss */
  .header {
    z-index: 1;
    box-shadow: none;
  }
  /* line 101, ../sass/responsive.scss */
  .header .super-nav .container {
    position: relative;
    text-align: center;
  }
  /* line 104, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 0;
    background-color: #0c3c61;
    opacity: 0.95;
    text-align: left;
    z-index: 999;
  }
  /* line 116, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .smc-logo {
    display: inline-block;
    width: 175px;
    padding: 17px 0 17px 18px;
  }
  /* line 121, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .close-menu {
    display: inline-block;
    float: right;
  }
  /* line 125, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .close-menu .btn-bg {
    padding: 15px;
    outline: none;
    background: transparent;
    border: none;
  }
  /* line 131, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .close-menu .btn-bg i {
    color: #fd6603;
  }
  /* line 138, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li {
    display: block;
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: #fd6603;
  }
  /* line 144, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li .arrow {
    font-size: 32px;
    float: right;
    color: #fd6603;
    cursor: pointer;
  }
  /* line 151, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li a {
    color: #fff;
    font-size: 23px;
    font-weight: normal;
  }
  /* line 157, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li:last-child {
    border: 0;
  }
  /* line 161, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li.active {
    background-color: transparent;
  }
  /* line 163, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li.active a {
    color: #fff;
  }
  /* line 168, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li:hover {
    background-color: transparent;
  }
  /* line 170, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li:hover a {
    color: #fff;
  }
  /* line 177, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li.submenu:hover .submenu-wrap {
    display: none;
  }
  /* line 188, ../sass/responsive.scss */
  .header .super-nav .container .search-wrap {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 12px 10px 12px 25px;
    border-width: 0 0 0 2px;
    border-style: solid;
    -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#7da1af), to(#fff)) 1 100%;
  }
  /* line 197, ../sass/responsive.scss */
  .header .super-nav .container .search-wrap .search-icon {
    color: #fd6603;
    margin-left: 0;
    font-size: 30px;
  }
  /* line 202, ../sass/responsive.scss */
  .header .super-nav .container .search-wrap .arrow {
    display: inline-block;
    color: #fd6603;
  }
  /* line 208, ../sass/responsive.scss */
  .header .super-nav .container .search-box {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    padding: 0 15px;
    background-color: white;
  }
  /* line 217, ../sass/responsive.scss */
  .header .super-nav .container .search-box .search-icon {
    top: 8px;
    right: 22px;
  }
  /* line 222, ../sass/responsive.scss */
  .header .super-nav .container .search-box .search-input {
    width: 100%;
    padding: 4px 0px 4px 15px;
  }
  /* line 227, ../sass/responsive.scss */
  .header .super-nav .container .search-box button {
    display: none;
  }
  /* line 232, ../sass/responsive.scss */
  .header .super-nav .container .toggle-menu {
    display: inline-block;
    float: left;
    padding: 7px 25px 5px 10px;
    border-width: 0 2px 0 0px;
    border-style: solid;
    -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#7da1af), to(#fff)) 1 100%;
  }
  /* line 241, ../sass/responsive.scss */
  .header .super-nav .container .toggle-menu .btn-bg {
    padding: 6px 0px;
    outline: none;
    background: transparent;
    border: none;
  }
  /* line 247, ../sass/responsive.scss */
  .header .super-nav .container .toggle-menu .btn-bg i {
    color: #fd6603;
  }
  /* line 254, ../sass/responsive.scss */
  .header .secondary-nav {
    display: none;
  }
  /* line 258, ../sass/responsive.scss */
  .header .tab-dropdown {
    display: block;
    position: absolute;
    top: 59px;
    left: 0;
    right: 0;
    padding: 12px 15px;
    background-color: #fff;
  }
  /* line 267, ../sass/responsive.scss */
  .header .tab-dropdown .dropdown {
    border: 2px solid #aadff5;
    border-radius: 5px;
  }
  /* line 270, ../sass/responsive.scss */
  .header .tab-dropdown .dropdown a {
    width: 100%;
    text-align: left;
    color: #202020;
    font-size: 18px;
    font-weight: bold;
  }
  /* line 277, ../sass/responsive.scss */
  .header .tab-dropdown .dropdown a:after {
    display: none;
  }
  /* line 281, ../sass/responsive.scss */
  .header .tab-dropdown .dropdown .arrow-down {
    font-size: 32px;
    float: right;
    color: #fd6603;
    cursor: pointer;
  }
  /* line 288, ../sass/responsive.scss */
  .header .tab-dropdown .dropdown .dropdown-menu {
    right: 0;
    padding: 0;
    border: 2px solid #aadff5;
  }
  /* line 293, ../sass/responsive.scss */
  .header .tab-dropdown .dropdown .dropdown-menu .dropdown-item {
    padding: 10px 15px;
    border-bottom: 2px solid #aadff5;
  }
  /* line 297, ../sass/responsive.scss */
  .header .tab-dropdown .dropdown .dropdown-menu .dropdown-item:last-child {
    border-bottom: 0;
  }
  /* line 301, ../sass/responsive.scss */
  .header .tab-dropdown .dropdown .dropdown-menu .dropdown-item:active {
    color: #202020;
    text-decoration: none;
    background-color: transparent;
  }
  /* line 313, ../sass/responsive.scss */
  .header .breadcrumb-wrap {
    display: none;
  }

  /* line 318, ../sass/responsive.scss */
  .main-container {
    margin-top: 115px;
  }
  /* line 321, ../sass/responsive.scss */
  .main-container .left-wrapper {
    padding: 0 0 45px 0;
    float: none;
    display: block;
    width: 100%;
    text-align: justify;
    border-right: 0;
    border-bottom: 2px solid #aadff5;
  }
  /* line 332, ../sass/responsive.scss */
  .main-container .right-wrapper .img-quickserver {
    margin: -13px 0 0 0;
  }
  /* line 335, ../sass/responsive.scss */
  .main-container .right-wrapper .img-desc {
    text-align: left;
  }

  /* line 345, ../sass/responsive.scss */
  .connect-specification .container {
    text-align: left;
  }

  /* line 353, ../sass/responsive.scss */
  .footer .container .upper-footer-wrapper {
    width: 100%;
    padding: 5px 0px 5px 0;
  }
}
@media only screen and (max-width: 767px) {
  /* line 365, ../sass/responsive.scss */
  .footer .container .upper-footer-wrapper {
    width: 100%;
    padding: 5px 0px 5px 0;
  }
  /* line 368, ../sass/responsive.scss */
  .footer .container .upper-footer-wrapper .link-wrapper {
    display: block;
    text-align: left;
  }
}
@media only screen and (max-width: 480px) {
  /* line 379, ../sass/responsive.scss */
  .main-container .right-wrapper {
    width: 200px;
  }
  /* line 381, ../sass/responsive.scss */
  .main-container .right-wrapper .img-quickserver {
    width: 100%;
  }
}
