/* line 1, ../sass/style.scss */
.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none;
}

/* line 6, ../sass/style.scss */
.header {
  border-bottom: 1px solid #7da1af;
  box-shadow: 1px 1px 5px #7da1af;
  background-color: #fff;
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}
/* line 17, ../sass/style.scss */
.header .super-nav .container .toggle-menu {
  display: none;
}
/* line 20, ../sass/style.scss */
.header .super-nav .container .logo {
  display: inline-block;
  width: 140px;
}
/* line 24, ../sass/style.scss */
.header .super-nav .container .search-wrap {
  display: none;
}
/* line 27, ../sass/style.scss */
.header .super-nav .container .menu-tab {
  display: inline-block;
  padding: 0 31px;
}
/* line 30, ../sass/style.scss */
.header .super-nav .container .menu-tab .smc-logo {
  display: none;
}
/* line 33, ../sass/style.scss */
.header .super-nav .container .menu-tab .close-menu {
  display: none;
}
/* line 36, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu {
  margin-bottom: 0;
  font-size: 0;
}
/* line 39, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li {
  display: inline-block;
  padding: 22px 35px;
  border-width: 0 0 0 2px;
  border-style: solid;
  -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#7da1af), to(#fff)) 1 100%;
}
/* line 45, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li a {
  font-size: 18px;
  font-weight: bold;
  color: #376596;
}
/* line 51, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li:hover {
  background-color: #0c3c61;
}
/* line 53, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li:hover a {
  color: #fff;
  text-decoration: none;
}
/* line 58, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li.active {
  background-color: #0c3c61;
}
/* line 60, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li.active a {
  color: #fff;
  text-decoration: none;
}
/* line 65, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li:last-child {
  border-width: 0 2px 0 2px;
  border-style: solid;
  -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#7da1af), to(#fff)) 1 100%;
}
/* line 71, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 71px;
}
/* line 79, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container {
  background-image: linear-gradient(to right, #1c2027, #0c3c61, #1c2027);
  padding: 0;
  opacity: 0.95;
}
/* line 83, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item {
  padding: 15px;
}
/* line 85, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item li {
  border-width: 0;
  border-style: none;
  display: block;
  padding: 8px 0;
}
/* line 90, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item li a {
  color: #fff;
  font-size: 14px;
}
/* line 94, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item li a:hover {
  opacity: 0.75;
}
/* line 97, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item li a.active {
  color: #64a7d2;
}
/* line 101, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item li:hover {
  background-color: transparent;
}
/* line 104, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item li .active-menu-wrap {
  width: 80%;
  float: right;
}
/* line 108, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item li .active-menu-wrap .active-menu li {
  display: inline-block;
  padding: 0px 50px;
}
/* line 111, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item li .active-menu-wrap .active-menu li a {
  color: orange;
}
/* line 120, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item .submenu-item li .item-heading {
  display: inline-block;
}
/* line 123, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item .submenu-item li .submenu-item-wrap {
  display: none;
  width: 80%;
  float: right;
}
/* line 128, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item .submenu-item li .submenu-item-wrap .item-list li {
  display: inline-block;
  padding: 0px 50px;
}
/* line 131, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item .submenu-item li .submenu-item-wrap .item-list li a {
  font-weight: normal;
}
/* line 134, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item .submenu-item li .submenu-item-wrap .item-list li:last-child {
  float: right;
}
/* line 140, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item .submenu-item li .submenu-display {
  display: block;
}
/* line 150, ../sass/style.scss */
.header .super-nav .container .search-box {
  position: relative;
  display: inline-block;
}
/* line 153, ../sass/style.scss */
.header .super-nav .container .search-box .search-icon {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 9px;
  font-size: 16px;
  color: #436f81;
}
/* line 162, ../sass/style.scss */
.header .super-nav .container .search-box .search-input {
  border: none;
  font-size: 14px;
  background-color: #b1daea73;
  outline: none;
  border-radius: 3px;
  padding: 6px 31px 6px 7px;
  color: #436f81;
}
/* line 170, ../sass/style.scss */
.header .super-nav .container .search-box .search-input::placeholder {
  color: #436f81;
}
/* line 177, ../sass/style.scss */
.header .secondary-nav {
  background-image: linear-gradient(to right, #1c2027, #0c3c61, #1c2027);
  border-bottom: 2px solid #85b9ce;
}
/* line 182, ../sass/style.scss */
.header .secondary-nav nav ul {
  margin-bottom: 0;
}
/* line 184, ../sass/style.scss */
.header .secondary-nav nav ul li {
  display: inline-block;
  padding: 5px 10px;
}
/* line 187, ../sass/style.scss */
.header .secondary-nav nav ul li a {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
/* line 191, ../sass/style.scss */
.header .secondary-nav nav ul li a:hover {
  text-decoration: none;
}
/* line 194, ../sass/style.scss */
.header .secondary-nav nav ul li a.active {
  background-color: #fff;
  color: gray;
  padding: 2px 10px 12px 10px;
  border-width: 2px 2px 0 2px;
  border-style: solid;
  border-color: #85b9ce;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
/* line 205, ../sass/style.scss */
.header .secondary-nav nav ul li:first-child {
  padding-left: 0;
}
/* line 209, ../sass/style.scss */
.header .secondary-nav nav ul span {
  color: #85b9ce;
  padding: 5px 0;
}
/* line 216, ../sass/style.scss */
.header .tab-dropdown {
  display: none;
}
/* line 221, ../sass/style.scss */
.header .breadcrumb-wrap nav .breadcrumb {
  margin-bottom: 0;
  background-color: #fff;
  padding: 12px 0;
}
/* line 225, ../sass/style.scss */
.header .breadcrumb-wrap nav .breadcrumb .breadcrumb-item {
  font-weight: bold;
  font-size: 16px;
  color: #376596;
}
/* line 230, ../sass/style.scss */
.header .breadcrumb-wrap nav .breadcrumb .breadcrumb-item a:hover {
  text-decoration: none;
}
/* line 233, ../sass/style.scss */
.header .breadcrumb-wrap nav .breadcrumb .breadcrumb-item a.active {
  color: #6c757d;
  cursor: default;
}

/* line 245, ../sass/style.scss */
.main-container {
  margin-top: 145px;
  overflow: hidden;
}
/* line 249, ../sass/style.scss */
.main-container .left-wrapper {
  float: left;
  display: inline-block;
  width: 71%;
  padding: 0 100px 50px 0;
  text-align: justify;
  border-right: 2px solid #aadff5;
}
/* line 256, ../sass/style.scss */
.main-container .left-wrapper h2 {
  display: inline-block;
  text-align: left;
  color: #0c3c61;
  font-weight: bold;
  padding: 15px 0;
  margin-top: 8px;
}
/* line 264, ../sass/style.scss */
.main-container .left-wrapper p {
  color: #6c757d;
  font-size: 15px;
}
/* line 269, ../sass/style.scss */
.main-container .right-wrapper {
  display: inline-block;
}
/* line 271, ../sass/style.scss */
.main-container .right-wrapper .img-quickserver {
  width: 334px;
  border: 2px solid #aadff5;
  border-radius: 10px;
  margin: 50px 0 0 -13px;
  background-color: #fff;
}
/* line 278, ../sass/style.scss */
.main-container .right-wrapper .img-desc {
  margin-left: 20px;
  width: 203px;
  color: #6c757d;
}
/* line 282, ../sass/style.scss */
.main-container .right-wrapper .img-desc h6 {
  margin: 25px 0;
}
/* line 285, ../sass/style.scss */
.main-container .right-wrapper .img-desc .img-features {
  margin-left: 15px;
  list-style-type: none;
}
/* line 288, ../sass/style.scss */
.main-container .right-wrapper .img-desc .img-features li {
  font-weight: bold;
}
/* line 290, ../sass/style.scss */
.main-container .right-wrapper .img-desc .img-features li::before {
  content: "\2022";
  color: #fd6603;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* line 307, ../sass/style.scss */
.connect-buynow .left-wrapper h6 {
  display: inline-block;
  color: #0c3c61;
  font-weight: bold;
  padding: 10px 0;
}
/* line 313, ../sass/style.scss */
.connect-buynow .left-wrapper .super-ul {
  padding: 0 15px 15px 15px;
  list-style-type: none;
}
/* line 316, ../sass/style.scss */
.connect-buynow .left-wrapper .super-ul li {
  color: #6c757d;
  font-size: 15px;
}
/* line 319, ../sass/style.scss */
.connect-buynow .left-wrapper .super-ul li .secondary-ul {
  list-style-type: none;
  margin: 0 20px;
}
/* line 322, ../sass/style.scss */
.connect-buynow .left-wrapper .super-ul li .secondary-ul li {
  color: #3483d8;
}
/* line 324, ../sass/style.scss */
.connect-buynow .left-wrapper .super-ul li .secondary-ul li::before {
  content: "\2012";
  color: #fd6603;
  font-weight: bold;
  display: inline-block;
  width: 16px;
  margin-left: -16px;
}
/* line 334, ../sass/style.scss */
.connect-buynow .left-wrapper .super-ul li::before {
  content: "\2022";
  color: #fd6603;
  font-weight: bold;
  display: inline-block;
  width: 16px;
  margin-left: -16px;
}

/* line 350, ../sass/style.scss */
.connect-protocol .left-wrapper h6 {
  margin: 0 0;
  color: #0c3c61;
  font-weight: bold;
}
/* line 355, ../sass/style.scss */
.connect-protocol .left-wrapper .all-protocols {
  padding: 10px 0;
}
/* line 357, ../sass/style.scss */
.connect-protocol .left-wrapper .all-protocols i {
  margin: 0 5px 0 0;
}
/* line 364, ../sass/style.scss */
.connect-protocol .right-wrapper .img-quickserver img {
  border-radius: 10px;
}
/* line 368, ../sass/style.scss */
.connect-protocol .right-wrapper .img-desc {
  width: 260px;
}
/* line 370, ../sass/style.scss */
.connect-protocol .right-wrapper .img-desc h6 {
  margin: 25px 0;
  font-weight: bold;
  color: #0c3c61;
}
/* line 379, ../sass/style.scss */
.connect-protocol .protocol-carousel .container {
  border-top: 2px solid #aadff5;
}
/* line 381, ../sass/style.scss */
.connect-protocol .protocol-carousel .container .owl-carousel {
  padding: 25px 0;
  z-index: 0;
}
/* line 385, ../sass/style.scss */
.connect-protocol .protocol-carousel .container .owl-carousel .owl-nav button {
  outline: none;
}
/* line 388, ../sass/style.scss */
.connect-protocol .protocol-carousel .container .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: -28px;
  top: 25px;
  color: #fd6603;
  width: 5px;
  font-weight: bold;
  font-size: 40px;
}
/* line 397, ../sass/style.scss */
.connect-protocol .protocol-carousel .container .owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: -20px;
  top: 25px;
  color: #fd6603;
  width: 5px;
  font-weight: bold;
  font-size: 40px;
}
/* line 406, ../sass/style.scss */
.connect-protocol .protocol-carousel .container .owl-carousel .owl-nav.disabled {
  display: block;
}
/* line 410, ../sass/style.scss */
.connect-protocol .protocol-carousel .container .owl-carousel .owl-dots {
  display: none;
}

/* line 422, ../sass/style.scss */
.connect-resources .left-wrapper .accordion [data-toggle="collapse"] .fa:before {
  content: "\f056";
}
/* line 426, ../sass/style.scss */
.connect-resources .left-wrapper .accordion [data-toggle="collapse"].collapsed .fa:before {
  content: "\f055";
}
/* line 429, ../sass/style.scss */
.connect-resources .left-wrapper .accordion .card {
  border-width: 0 0 0 0;
}
/* line 431, ../sass/style.scss */
.connect-resources .left-wrapper .accordion .card .card-header {
  background-color: #fff;
  border-width: 2px 0 0 0;
  border-style: solid;
  border-color: #aadff5;
}
/* line 436, ../sass/style.scss */
.connect-resources .left-wrapper .accordion .card .card-header .btn {
  padding: 0;
  width: 100%;
  text-align: left;
}
/* line 443, ../sass/style.scss */
.connect-resources .left-wrapper .accordion .card-body {
  border-top: 2px solid #aadff5;
  width: 95%;
  margin: 0px auto;
}
/* line 451, ../sass/style.scss */
.connect-resources .right-wrapper .request-btn {
  outline: none;
  margin: 30px 20px;
}
/* line 454, ../sass/style.scss */
.connect-resources .right-wrapper .request-btn .btn-bg {
  outline: none;
  color: #fff;
  background-color: #fd6603;
  font-weight: bold;
}
/* line 459, ../sass/style.scss */
.connect-resources .right-wrapper .request-btn .btn-bg:hover {
  color: #fd6603;
  background-color: transparent;
  border: 1px solid #fd6603;
}
/* line 466, ../sass/style.scss */
.connect-resources .right-wrapper .img-quickserver {
  margin: 22px 0 0 -13px;
}
/* line 468, ../sass/style.scss */
.connect-resources .right-wrapper .img-quickserver img {
  border-radius: 10px;
}
/* line 472, ../sass/style.scss */
.connect-resources .right-wrapper .img-desc {
  width: 260px;
}
/* line 474, ../sass/style.scss */
.connect-resources .right-wrapper .img-desc h6 {
  margin: 25px 0;
  font-weight: bold;
  color: #0c3c61;
}

/* line 485, ../sass/style.scss */
.connect-specification h2 {
  display: inline-block;
  text-align: left;
  color: #0c3c61;
  font-weight: bold;
  margin-top: 8px;
  padding: 15px 0px;
}
/* line 493, ../sass/style.scss */
.connect-specification h6 {
  color: #0c3c61;
  font-weight: bold;
}
/* line 497, ../sass/style.scss */
.connect-specification .table-bordered {
  border: 1px solid #0c3c61;
}
/* line 500, ../sass/style.scss */
.connect-specification .table {
  overflow-x: auto;
  max-width: 100%;
}
/* line 506, ../sass/style.scss */
.connect-specification .table th, .connect-specification .table td {
  text-align: center;
  color: #4d4f50;
  font-weight: normal;
  font-size: 14px;
  border: 2px solid #0c3c61;
}
/* line 513, ../sass/style.scss */
.connect-specification .table .colspan-heading {
  background-color: #0c3c61;
}
/* line 515, ../sass/style.scss */
.connect-specification .table .colspan-heading h6 {
  color: #fff;
  margin: 5px 0;
}
/* line 520, ../sass/style.scss */
.connect-specification .table .rowspan-heading {
  padding: 0;
  background-color: #0c3c61;
  max-width: 20px;
  display: table-cell;
  vertical-align: middle;
}
/* line 526, ../sass/style.scss */
.connect-specification .table .rowspan-heading .headingV {
  transform: rotate(270deg);
  color: #fff;
  margin: 5px 0;
}
/* line 533, ../sass/style.scss */
.connect-specification ul {
  padding: 0 15px 15px 25px;
  list-style-type: none;
}
/* line 536, ../sass/style.scss */
.connect-specification ul li {
  color: #6c757d;
  font-size: 15px;
}
/* line 539, ../sass/style.scss */
.connect-specification ul li::before {
  content: "\2022";
  color: #fd6603;
  font-weight: bold;
  display: inline-block;
  width: 16px;
  margin-left: -16px;
}

/* line 552, ../sass/style.scss */
.footer {
  border-top: 2px solid #aadff5;
}
/* line 555, ../sass/style.scss */
.footer .container .upper-footer-wrapper {
  width: 72%;
  padding: 5px 100px 5px 0;
  display: block;
  cursor: pointer;
}
/* line 560, ../sass/style.scss */
.footer .container .upper-footer-wrapper .link-wrapper {
  display: inline-block;
}
/* line 562, ../sass/style.scss */
.footer .container .upper-footer-wrapper .link-wrapper.floatL {
  float: left;
}
/* line 565, ../sass/style.scss */
.footer .container .upper-footer-wrapper .link-wrapper.floatR {
  float: right;
}
/* line 569, ../sass/style.scss */
.footer .container .upper-footer-wrapper .link-wrapper .link-outer .arrow {
  color: #fd6603;
  font-weight: bold;
  margin-right: 5px;
  cursor: pointer;
}
/* line 575, ../sass/style.scss */
.footer .container .upper-footer-wrapper .link-wrapper .link-outer a {
  color: #2b5077;
  font-size: 14px;
  vertical-align: middle;
}
/* line 579, ../sass/style.scss */
.footer .container .upper-footer-wrapper .link-wrapper .link-outer a:hover {
  text-decoration: none;
  color: #214264;
}
/* line 587, ../sass/style.scss */
.footer .container .footer-accordian {
  display: none;
}
/* line 592, ../sass/style.scss */
.footer .expand-view {
  display: none;
  background-image: linear-gradient(to right, #1c2027, #0c3c61, #1c2027);
  color: #fff;
}
/* line 597, ../sass/style.scss */
.footer .expand-view .container p {
  padding: 20px;
  margin-bottom: 0;
}
/* line 602, ../sass/style.scss */
.footer .expand-view .container .row ul {
  list-style-type: none;
  margin: 16px;
}
/* line 606, ../sass/style.scss */
.footer .expand-view .container .row ul li a {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}
/* line 611, ../sass/style.scss */
.footer .expand-view .container .row ul li a:hover {
  text-decoration: none;
}
/* line 618, ../sass/style.scss */
.footer .expand-view .container::before {
  content: '';
  position: absolute;
  right: 674px;
  width: 0;
  height: 0;
  z-index: 1;
  border-top: solid 10px #FFF;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}
/* line 630, ../sass/style.scss */
.footer .expand-view::before {
  content: '';
  position: absolute;
  left: 199px;
  width: 0;
  height: 0;
  z-index: 1;
  border-top: solid 10px #FFF;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}
/* line 642, ../sass/style.scss */
.footer .lower-footer-wrapper {
  border-top: 2px solid #aadff5;
  padding: 5px 0 50px 0;
}
/* line 645, ../sass/style.scss */
.footer .lower-footer-wrapper .copy-right {
  font-size: 12px;
  color: #6c757d;
}
/* line 649, ../sass/style.scss */
.footer .lower-footer-wrapper .footer-links {
  display: inline-block;
  font-size: 13px;
  float: right;
}
/* line 653, ../sass/style.scss */
.footer .lower-footer-wrapper .footer-links a {
  color: #376596;
}
/* line 655, ../sass/style.scss */
.footer .lower-footer-wrapper .footer-links a:hover {
  text-decoration: none;
  color: #214264;
}
/* line 662, ../sass/style.scss */
.footer .lower-footer-wrapper .footer-links .social-links ul li {
  display: inline-block;
  width: 30px;
}
/* line 666, ../sass/style.scss */
.footer .lower-footer-wrapper .footer-links .social-links ul li a:hover {
  opacity: 0.75;
}

@media only screen and (max-width: 1199px) {
  /* line 5, ../sass/responsive.scss */
  .header .super-nav .container .logo {
    width: 120px;
  }
  /* line 8, ../sass/responsive.scss */
  .header .super-nav .container .search-box {
    display: inline-block;
  }
  /* line 13, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li {
    padding: 17px 15px;
  }
  /* line 15, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li .submenu-wrap {
    top: 61px;
  }

  /* line 25, ../sass/responsive.scss */
  .main-container .left-wrapper {
    padding-right: 73px;
  }
  /* line 29, ../sass/responsive.scss */
  .main-container .right-wrapper .img-quickserver {
    width: 282px;
  }
  /* line 32, ../sass/responsive.scss */
  .main-container .right-wrapper .img-desc {
    width: 249px;
  }

  /* line 42, ../sass/responsive.scss */
  .connect-protocol .protocol-carousel .container .owl-carousel .owl-nav .owl-next {
    top: 20px;
  }
  /* line 45, ../sass/responsive.scss */
  .connect-protocol .protocol-carousel .container .owl-carousel .owl-nav .owl-prev {
    top: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 63, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li.submenu .submenu-wrap {
    top: 61px;
  }
}
@media only screen and (max-width: 991px) {
  /* line 76, ../sass/responsive.scss */
  .container {
    max-width: 991px;
    text-align: center;
  }

  /* line 80, ../sass/responsive.scss */
  .header {
    z-index: 999;
    box-shadow: none;
  }
  /* line 84, ../sass/responsive.scss */
  .header .super-nav .container {
    position: relative;
    text-align: center;
  }
  /* line 87, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 0;
    background-color: #0c3c61;
    opacity: 0.95;
    text-align: left;
    z-index: 999;
  }
  /* line 98, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .smc-logo {
    display: inline-block;
    width: 175px;
    padding: 17px 0 17px 18px;
  }
  /* line 103, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .close-menu {
    display: inline-block;
    float: right;
  }
  /* line 106, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .close-menu .btn-bg {
    padding: 15px;
    outline: none;
    background: transparent;
    border: none;
  }
  /* line 111, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .close-menu .btn-bg i {
    color: #fd6603;
  }
  /* line 117, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li {
    display: block;
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: #103358;
    -webkit-border-image: 0;
  }
  /* line 123, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li .arrow {
    font-size: 32px;
    float: right;
    color: #fd6603;
    cursor: pointer;
  }
  /* line 129, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li a {
    color: #fff;
    font-size: 23px;
    font-weight: normal;
  }
  /* line 134, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li:last-child {
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: #103358;
    -webkit-border-image: 0;
  }
  /* line 140, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li.active {
    background-color: transparent;
  }
  /* line 142, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li.active a {
    color: #fff;
  }
  /* line 146, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li:hover {
    background-color: transparent;
  }
  /* line 148, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li:hover a {
    color: #fff;
  }
  /* line 152, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li.menu-wrapper {
    position: relative;
  }
  /* line 154, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li.menu-wrapper .submenu-wrap {
    position: static;
    top: 70px;
    z-index: 999;
  }
  /* line 158, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li.menu-wrapper .submenu-wrap .container {
    text-align: left;
    background-image: none;
    background-color: #0c3c61;
  }
  /* line 163, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li.menu-wrapper .submenu-wrap .container .menu-item li {
    position: relative;
  }
  /* line 165, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li.menu-wrapper .submenu-wrap .container .menu-item li a {
    font-size: 16px;
  }
  /* line 168, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li.menu-wrapper .submenu-wrap .container .menu-item li .arrow-down {
    position: absolute;
    right: 0;
    top: 0;
  }
  /* line 173, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li.menu-wrapper .submenu-wrap .container .menu-item li .active-menu-wrap {
    float: none;
  }
  /* line 176, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li.menu-wrapper .submenu-wrap .container .menu-item li .active-menu-wrap .active-menu li {
    display: block;
    padding: 0 20px;
  }
  /* line 183, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li.menu-wrapper .submenu-wrap .container .menu-item .submenu-item {
    display: none;
    padding: 0 20px;
    max-height: 80px;
    overflow-y: auto;
    margin-top: 15px;
  }
  /* line 189, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li.menu-wrapper .submenu-wrap .container .menu-item .submenu-item li {
    position: relative;
  }
  /* line 191, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li.menu-wrapper .submenu-wrap .container .menu-item .submenu-item li .item-heading {
    display: block;
  }
  /* line 193, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li.menu-wrapper .submenu-wrap .container .menu-item .submenu-item li .item-heading .angle {
    position: absolute;
    right: 0;
    top: 3px;
  }
  /* line 198, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li.menu-wrapper .submenu-wrap .container .menu-item .submenu-item li .item-heading:hover + .submenu-item-wrap {
    display: none;
  }
  /* line 202, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li.menu-wrapper .submenu-wrap .container .menu-item .submenu-item li .submenu-item-wrap {
    float: none;
  }
  /* line 205, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li.menu-wrapper .submenu-wrap .container .menu-item .submenu-item li .submenu-item-wrap .item-list li {
    display: block;
    padding: 0 25px;
  }
  /* line 208, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li.menu-wrapper .submenu-wrap .container .menu-item .submenu-item li .submenu-item-wrap .item-list li a {
    font-size: 15px;
  }
  /* line 211, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li.menu-wrapper .submenu-wrap .container .menu-item .submenu-item li .submenu-item-wrap .item-list li:last-child {
    float: none;
  }
  /* line 226, ../sass/responsive.scss */
  .header .super-nav .container .search-wrap {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 12px 10px 12px 25px;
    border-width: 0 0 0 2px;
    border-style: solid;
    -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#7da1af), to(#fff)) 1 100%;
  }
  /* line 234, ../sass/responsive.scss */
  .header .super-nav .container .search-wrap .search-icon {
    color: #fd6603;
    margin-left: 0;
    font-size: 30px;
  }
  /* line 239, ../sass/responsive.scss */
  .header .super-nav .container .search-wrap .arrow {
    display: inline-block;
    color: #fd6603;
  }
  /* line 244, ../sass/responsive.scss */
  .header .super-nav .container .search-box {
    display: none;
    position: absolute;
    top: 59px;
    left: 0;
    right: 0;
    padding: 13px 15px;
    background-color: white;
  }
  /* line 252, ../sass/responsive.scss */
  .header .super-nav .container .search-box .search-icon {
    top: 20px;
    right: 22px;
  }
  /* line 256, ../sass/responsive.scss */
  .header .super-nav .container .search-box .search-input {
    width: 100%;
    padding: 4px 0px 4px 15px;
  }
  /* line 260, ../sass/responsive.scss */
  .header .super-nav .container .search-box button {
    display: none;
  }
  /* line 264, ../sass/responsive.scss */
  .header .super-nav .container .toggle-menu {
    display: inline-block;
    float: left;
    padding: 7px 25px 5px 10px;
    border-width: 0 2px 0 0px;
    border-style: solid;
    -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#7da1af), to(#fff)) 1 100%;
  }
  /* line 271, ../sass/responsive.scss */
  .header .super-nav .container .toggle-menu .btn-bg {
    padding: 6px 0px;
    outline: none;
    background: transparent;
    border: none;
  }
  /* line 276, ../sass/responsive.scss */
  .header .super-nav .container .toggle-menu .btn-bg i {
    color: #fd6603;
  }
  /* line 283, ../sass/responsive.scss */
  .header .secondary-nav {
    display: none;
  }
  /* line 286, ../sass/responsive.scss */
  .header .tab-dropdown {
    display: block;
    position: absolute;
    top: 59px;
    left: 0;
    right: 0;
    padding: 12px 13px;
    background-color: #fff;
  }
  /* line 294, ../sass/responsive.scss */
  .header .tab-dropdown .dropdown {
    border: 2px solid #aadff5;
    border-radius: 5px;
  }
  /* line 297, ../sass/responsive.scss */
  .header .tab-dropdown .dropdown a {
    width: 100%;
    text-align: left;
    color: #202020;
    font-size: 18px;
    font-weight: bold;
  }
  /* line 303, ../sass/responsive.scss */
  .header .tab-dropdown .dropdown a:after {
    display: none;
  }
  /* line 307, ../sass/responsive.scss */
  .header .tab-dropdown .dropdown .arrow-down {
    font-size: 32px;
    float: right;
    color: #fd6603;
    cursor: pointer;
  }
  /* line 313, ../sass/responsive.scss */
  .header .tab-dropdown .dropdown .dropdown-menu {
    top: 114px;
    right: -2px;
    padding: 0;
    border: 2px solid #aadff5;
  }
  /* line 318, ../sass/responsive.scss */
  .header .tab-dropdown .dropdown .dropdown-menu .dropdown-item {
    padding: 10px 15px;
    border-bottom: 2px solid #aadff5;
  }
  /* line 321, ../sass/responsive.scss */
  .header .tab-dropdown .dropdown .dropdown-menu .dropdown-item:last-child {
    border-bottom: 0;
  }
  /* line 324, ../sass/responsive.scss */
  .header .tab-dropdown .dropdown .dropdown-menu .dropdown-item:active {
    color: #202020;
    text-decoration: none;
    background-color: transparent;
  }
  /* line 333, ../sass/responsive.scss */
  .header .breadcrumb-wrap {
    display: none;
  }

  /* line 337, ../sass/responsive.scss */
  .main-container {
    margin-top: 115px;
  }
  /* line 339, ../sass/responsive.scss */
  .main-container .left-wrapper {
    padding: 0 0 45px 0;
    float: none;
    display: block;
    width: 100%;
    text-align: justify;
    border-right: 0;
    border-bottom: 2px solid #aadff5;
  }
  /* line 348, ../sass/responsive.scss */
  .main-container .right-wrapper {
    margin-bottom: 50px;
  }
  /* line 350, ../sass/responsive.scss */
  .main-container .right-wrapper .img-quickserver {
    margin: -13px 0 0 0;
  }
  /* line 353, ../sass/responsive.scss */
  .main-container .right-wrapper .img-desc {
    text-align: left;
  }

  /* line 359, ../sass/responsive.scss */
  .connect-specification .container {
    text-align: left;
  }

  /* line 363, ../sass/responsive.scss */
  .footer {
    border-top: 0;
  }
  /* line 365, ../sass/responsive.scss */
  .footer .container {
    padding: 0;
  }
  /* line 367, ../sass/responsive.scss */
  .footer .container .upper-footer-wrapper {
    width: 100%;
    padding: 5px 0px 5px 0;
    display: none;
  }
  /* line 372, ../sass/responsive.scss */
  .footer .container .footer-accordian {
    display: block;
    text-align: left;
    border-bottom: 2px solid #aadff5;
  }
  /* line 376, ../sass/responsive.scss */
  .footer .container .footer-accordian .card {
    border: 0;
  }
  /* line 378, ../sass/responsive.scss */
  .footer .container .footer-accordian .card .card-header {
    background-color: #fff;
    border-top: 2px solid #aadff5;
    border-bottom: 0;
    padding: 0 15px;
  }
  /* line 383, ../sass/responsive.scss */
  .footer .container .footer-accordian .card .card-header .btn {
    width: 100%;
    text-align: left;
  }
  /* line 387, ../sass/responsive.scss */
  .footer .container .footer-accordian .card .card-header button {
    padding: 5px 0;
  }
  /* line 389, ../sass/responsive.scss */
  .footer .container .footer-accordian .card .card-header button .font-icon {
    vertical-align: middle;
    color: #fd6603;
  }
  /* line 393, ../sass/responsive.scss */
  .footer .container .footer-accordian .card .card-header button .accordian-link {
    font-size: 18px;
    color: #2b5077;
    vertical-align: text-bottom;
  }
  /* line 399, ../sass/responsive.scss */
  .footer .container .footer-accordian .card .card-header button.btn-link:active, .footer .container .footer-accordian .card .card-header button.btn-link:focus, .footer .container .footer-accordian .card .card-header button.btn-link:hover {
    text-decoration: none;
  }
  /* line 405, ../sass/responsive.scss */
  .footer .container .footer-accordian .card .collapse {
    position: relative;
  }
  /* line 407, ../sass/responsive.scss */
  .footer .container .footer-accordian .card .collapse .card-body {
    background-color: #0c3c61;
  }
  /* line 410, ../sass/responsive.scss */
  .footer .container .footer-accordian .card .collapse .card-body .row ul {
    list-style-type: none;
    margin: 16px;
  }
  /* line 413, ../sass/responsive.scss */
  .footer .container .footer-accordian .card .collapse .card-body .row ul li {
    padding: 8px 0;
  }
  /* line 415, ../sass/responsive.scss */
  .footer .container .footer-accordian .card .collapse .card-body .row ul li a {
    font-size: 16px;
    font-weight: bold;
    color: #69b0e6;
  }
  /* line 419, ../sass/responsive.scss */
  .footer .container .footer-accordian .card .collapse .card-body .row ul li a:hover {
    text-decoration: none;
  }
  /* line 426, ../sass/responsive.scss */
  .footer .container .footer-accordian .card .collapse .card-body::before {
    top: 0;
    content: '';
    position: absolute;
    left: 12px;
    width: 0;
    height: 0;
    z-index: 1;
    border-top: solid 16px #FFF;
    border-left: solid 16px transparent;
    border-right: solid 16px transparent;
  }
  /* line 443, ../sass/responsive.scss */
  .footer .lower-footer-wrapper {
    border-top: 0;
  }
  /* line 446, ../sass/responsive.scss */
  .footer .lower-footer-wrapper .container .footer-links {
    display: block;
    float: none;
    margin-top: 20px;
  }
  /* line 455, ../sass/responsive.scss */
  .footer .expand-view .container::before {
    right: 74px;
  }
  /* line 459, ../sass/responsive.scss */
  .footer .expand-view::before {
    left: 10px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 469, ../sass/responsive.scss */
  .footer .container .upper-footer-wrapper {
    width: 100%;
    padding: 5px 0px 5px 0;
  }
  /* line 472, ../sass/responsive.scss */
  .footer .container .upper-footer-wrapper .link-wrapper {
    display: block;
    text-align: left;
  }
}
@media only screen and (max-width: 480px) {
  /* line 483, ../sass/responsive.scss */
  .main-container .right-wrapper {
    width: 200px;
  }
  /* line 485, ../sass/responsive.scss */
  .main-container .right-wrapper .img-quickserver {
    width: 100%;
  }
  /* line 488, ../sass/responsive.scss */
  .main-container .right-wrapper .request-btn {
    margin: 30px 0;
  }
}
