@media only screen and (max-width: 1199px) {
  /* line 2, ../sass/responsive.scss */
  .header {
    box-shadow: none;
  }
  /* line 6, ../sass/responsive.scss */
  .header .super-nav .container .logo {
    width: 120px;
  }
  /* line 9, ../sass/responsive.scss */
  .header .super-nav .container .search-box {
    display: inline-block;
  }
  /* line 11, ../sass/responsive.scss */
  .header .super-nav .container .search-box .search-icon {
    top: 24px;
  }
  /* line 15, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab {
    padding: 0 10px;
  }
  /* line 19, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li {
    padding: 17px 15px;
  }

  /* line 27, ../sass/responsive.scss */
  .main-container {
    margin-top: 145px;
  }
  /* line 30, ../sass/responsive.scss */
  .main-container .left-wrapper {
    padding-right: 73px;
  }
  /* line 35, ../sass/responsive.scss */
  .main-container .right-wrapper .img-quickserver {
    width: 282px;
  }
  /* line 39, ../sass/responsive.scss */
  .main-container .right-wrapper .img-desc {
    width: 249px;
  }
}
@media only screen and (max-width: 991px) {
  /* line 47, ../sass/responsive.scss */
  .container {
    max-width: 991px;
    text-align: center;
  }

  /* line 52, ../sass/responsive.scss */
  .header {
    z-index: 1;
  }
  /* line 56, ../sass/responsive.scss */
  .header .super-nav .container {
    position: relative;
    text-align: center;
  }
  /* line 59, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 0;
    background-color: #0c3c61;
    opacity: 0.95;
    text-align: left;
    z-index: 999;
  }
  /* line 71, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .smc-logo {
    display: inline-block;
    width: 175px;
    padding: 17px 0 17px 18px;
  }
  /* line 76, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .close-menu {
    display: inline-block;
    float: right;
  }
  /* line 80, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .close-menu .btn-bg {
    padding: 15px;
    outline: none;
    background: transparent;
    border: none;
  }
  /* line 86, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .close-menu .btn-bg i {
    color: #fd6603;
  }
  /* line 93, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li {
    display: block;
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: #fd6603;
  }
  /* line 99, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li .arrow {
    font-size: 32px;
    float: right;
    color: #fd6603;
    cursor: pointer;
  }
  /* line 106, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li a {
    color: #fff;
    font-size: 23px;
    font-weight: normal;
  }
  /* line 112, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li:last-child {
    border: 0;
  }
  /* line 116, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li.active {
    background-color: transparent;
  }
  /* line 118, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li.active a {
    color: #fff;
  }
  /* line 123, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li:hover {
    background-color: transparent;
  }
  /* line 125, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li:hover a {
    color: #fff;
  }
  /* line 131, ../sass/responsive.scss */
  .header .super-nav .container .menu-tab .menu li.submenu:hover .submenu-wrap {
    display: none;
  }
  /* line 140, ../sass/responsive.scss */
  .header .super-nav .container .search-wrap {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 12px 10px 12px 25px;
    border-width: 0 0 0 2px;
    border-style: solid;
    -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#7da1af), to(#fff)) 1 100%;
  }
  /* line 149, ../sass/responsive.scss */
  .header .super-nav .container .search-wrap .search-icon {
    color: #fd6603;
    margin-left: 0;
    font-size: 30px;
  }
  /* line 154, ../sass/responsive.scss */
  .header .super-nav .container .search-wrap .arrow {
    display: inline-block;
    color: #fd6603;
  }
  /* line 160, ../sass/responsive.scss */
  .header .super-nav .container .search-box {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    padding: 0 15px;
    background-color: white;
  }
  /* line 169, ../sass/responsive.scss */
  .header .super-nav .container .search-box .search-icon {
    top: 8px;
    right: 22px;
  }
  /* line 174, ../sass/responsive.scss */
  .header .super-nav .container .search-box .search-input {
    width: 100%;
    padding: 4px 0px 4px 15px;
  }
  /* line 179, ../sass/responsive.scss */
  .header .super-nav .container .search-box button {
    display: none;
  }
  /* line 184, ../sass/responsive.scss */
  .header .super-nav .container .toggle-menu {
    display: inline-block;
    float: left;
    padding: 7px 25px 5px 10px;
    border-width: 0 2px 0 0px;
    border-style: solid;
    -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#7da1af), to(#fff)) 1 100%;
  }
  /* line 193, ../sass/responsive.scss */
  .header .super-nav .container .toggle-menu .btn-bg {
    padding: 6px 0px;
    outline: none;
    background: transparent;
    border: none;
  }
  /* line 199, ../sass/responsive.scss */
  .header .super-nav .container .toggle-menu .btn-bg i {
    color: #fd6603;
  }
  /* line 206, ../sass/responsive.scss */
  .header .secondary-nav {
    display: none;
  }
  /* line 210, ../sass/responsive.scss */
  .header .tab-dropdown {
    display: block;
    position: absolute;
    top: 59px;
    left: 0;
    right: 0;
    padding: 12px 15px;
    background-color: #fff;
  }
  /* line 219, ../sass/responsive.scss */
  .header .tab-dropdown a {
    border: 2px solid #aadff5;
    width: 100%;
    text-align: left;
    color: #000;
    font-size: 18px;
    font-weight: bold;
  }
  /* line 227, ../sass/responsive.scss */
  .header .tab-dropdown a:after {
    display: none;
  }
  /* line 231, ../sass/responsive.scss */
  .header .tab-dropdown .arrow-down {
    font-size: 32px;
    float: right;
    color: #fd6603;
    cursor: pointer;
  }
  /* line 239, ../sass/responsive.scss */
  .header .breadcrumb-wrap {
    display: none;
  }

  /* line 244, ../sass/responsive.scss */
  .main-container {
    margin-top: 115px;
  }
  /* line 247, ../sass/responsive.scss */
  .main-container .left-wrapper {
    padding: 0 0 45px 0;
    float: none;
    display: block;
    width: 100%;
    text-align: justify;
    border-right: 0;
    border-bottom: 2px solid #aadff5;
  }
  /* line 258, ../sass/responsive.scss */
  .main-container .right-wrapper .img-quickserver {
    margin: -13px 0 0 0;
  }
  /* line 261, ../sass/responsive.scss */
  .main-container .right-wrapper .img-desc {
    text-align: left;
  }

  /* line 271, ../sass/responsive.scss */
  .connect-specification .container {
    text-align: left;
  }
}
