/* line 1, ../sass/style.scss */
.header {
  border-bottom: 1px solid #7da1af;
  box-shadow: 1px 1px 5px #7da1af;
  background-color: #fff;
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}
/* line 13, ../sass/style.scss */
.header .super-nav .container .toggle-menu {
  display: none;
}
/* line 16, ../sass/style.scss */
.header .super-nav .container .logo {
  display: inline-block;
  width: 140px;
}
/* line 20, ../sass/style.scss */
.header .super-nav .container .search-wrap {
  display: none;
}
/* line 24, ../sass/style.scss */
.header .super-nav .container .menu-tab {
  display: inline-block;
  padding: 0 31px;
}
/* line 28, ../sass/style.scss */
.header .super-nav .container .menu-tab .smc-logo {
  display: none;
}
/* line 31, ../sass/style.scss */
.header .super-nav .container .menu-tab .close-menu {
  display: none;
}
/* line 34, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu {
  margin-bottom: 0;
  font-size: 0;
}
/* line 38, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li {
  display: inline-block;
  padding: 22px 30px;
  border-width: 0 0 0 2px;
  border-style: solid;
  -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#7da1af), to(#fff)) 1 100%;
}
/* line 45, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li a {
  font-size: 18px;
  font-weight: bold;
  color: #376596;
}
/* line 51, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li:hover {
  background-color: #0c3c61;
}
/* line 54, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li:hover a {
  color: #fff;
  text-decoration: none;
}
/* line 60, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li.active {
  background-color: #0c3c61;
}
/* line 62, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li.active a {
  color: #fff;
  text-decoration: none;
}
/* line 68, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li:last-child {
  border-width: 0 2px 0 2px;
  border-style: solid;
  -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#7da1af), to(#fff)) 1 100%;
}
/* line 75, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 71px;
}
/* line 83, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container {
  background-image: linear-gradient(to right, #1c2027, #0c3c61, #1c2027);
  padding: 0;
  opacity: 0.95;
}
/* line 88, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item {
  padding: 15px;
}
/* line 90, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item li {
  border-width: 0;
  border-style: none;
  display: block;
  padding: 8px 0;
}
/* line 95, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item li a {
  color: #fff;
  font-size: 14px;
}
/* line 99, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item li a:hover {
  opacity: 0.75;
}
/* line 102, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item li a.active {
  color: #64a7d2;
}
/* line 106, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item li:hover {
  background-color: transparent;
}
/* line 110, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item li .active-menu-wrap {
  width: 80%;
  float: right;
}
/* line 115, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item li .active-menu-wrap .active-menu li {
  display: inline-block;
  padding: 0px 50px;
}
/* line 119, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item li .active-menu-wrap .active-menu li a {
  color: orange;
}
/* line 129, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item .submenu-item li .item-heading {
  display: inline-block;
}
/* line 133, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item .submenu-item li .submenu-item-wrap {
  display: none;
  width: 80%;
  float: right;
}
/* line 140, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item .submenu-item li .submenu-item-wrap .item-list li {
  display: inline-block;
  padding: 0px 50px;
}
/* line 144, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item .submenu-item li .submenu-item-wrap .item-list li a {
  font-weight: normal;
}
/* line 148, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item .submenu-item li .submenu-item-wrap .item-list li:last-child {
  float: right;
}
/* line 155, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item .submenu-item li .submenu-display {
  display: block;
}
/* line 168, ../sass/style.scss */
.header .super-nav .container .search-box {
  display: inline-block;
}
/* line 171, ../sass/style.scss */
.header .super-nav .container .search-box .search-icon {
  cursor: pointer;
  position: absolute;
  top: 29px;
  margin-left: 8px;
  font-size: 13px;
  color: #436f81;
}
/* line 180, ../sass/style.scss */
.header .super-nav .container .search-box .search-input {
  border: none;
  font-size: 14px;
  background-color: #b1daea73;
  outline: none;
  border-radius: 3px;
  padding: 4px 0px 4px 25px;
  color: #436f81;
}
/* line 189, ../sass/style.scss */
.header .super-nav .container .search-box .search-input::placeholder {
  color: #436f81;
}
/* line 194, ../sass/style.scss */
.header .super-nav .container .search-box .btn-bg {
  border: 2px solid #fd6603;
  color: #fd6603;
  background-color: transparent;
  outline: none;
  padding: 2px 8px;
  margin-left: -5px;
}
/* line 202, ../sass/style.scss */
.header .super-nav .container .search-box .btn-bg:hover {
  color: #fff;
  background-color: #fd6603;
}
/* line 210, ../sass/style.scss */
.header .secondary-nav {
  background-image: linear-gradient(to right, #1c2027, #0c3c61, #1c2027);
  border-bottom: 2px solid #85b9ce;
}
/* line 215, ../sass/style.scss */
.header .secondary-nav nav ul {
  margin-bottom: 0;
}
/* line 217, ../sass/style.scss */
.header .secondary-nav nav ul li {
  display: inline-block;
  padding: 5px 10px;
}
/* line 221, ../sass/style.scss */
.header .secondary-nav nav ul li a {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
/* line 226, ../sass/style.scss */
.header .secondary-nav nav ul li a:hover {
  text-decoration: none;
}
/* line 230, ../sass/style.scss */
.header .secondary-nav nav ul li a.active {
  background-color: #fff;
  color: gray;
  padding: 2px 10px 12px 10px;
  border-width: 2px 2px 0 2px;
  border-style: solid;
  border-color: #85b9ce;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
/* line 242, ../sass/style.scss */
.header .secondary-nav nav ul li:first-child {
  padding-left: 0;
}
/* line 247, ../sass/style.scss */
.header .secondary-nav nav ul span {
  color: #85b9ce;
  padding: 5px 0;
}
/* line 254, ../sass/style.scss */
.header .tab-dropdown {
  display: none;
}
/* line 259, ../sass/style.scss */
.header .breadcrumb-wrap nav .breadcrumb {
  margin-bottom: 0;
  background-color: #fff;
  padding: 12px 0;
}
/* line 264, ../sass/style.scss */
.header .breadcrumb-wrap nav .breadcrumb .breadcrumb-item {
  font-weight: bold;
  font-size: 16px;
  color: #376596;
}
/* line 271, ../sass/style.scss */
.header .breadcrumb-wrap nav .breadcrumb .breadcrumb-item a:hover {
  text-decoration: none;
}
/* line 274, ../sass/style.scss */
.header .breadcrumb-wrap nav .breadcrumb .breadcrumb-item a.active {
  color: #6c757d;
  cursor: default;
}

/* line 286, ../sass/style.scss */
.main-container {
  margin-top: 145px;
  overflow: hidden;
}
/* line 290, ../sass/style.scss */
.main-container .left-wrapper {
  float: left;
  display: inline-block;
  width: 71%;
  padding: 0 100px 50px 0;
  text-align: justify;
  border-right: 2px solid #aadff5;
}
/* line 297, ../sass/style.scss */
.main-container .left-wrapper h2 {
  display: inline-block;
  text-align: left;
  color: #0c3c61;
  font-weight: bold;
  padding: 15px 0;
  margin-top: 8px;
}
/* line 305, ../sass/style.scss */
.main-container .left-wrapper p {
  color: #6c757d;
  font-size: 15px;
}
/* line 310, ../sass/style.scss */
.main-container .right-wrapper {
  display: inline-block;
}
/* line 312, ../sass/style.scss */
.main-container .right-wrapper .img-quickserver {
  width: 334px;
  border: 2px solid #aadff5;
  border-radius: 10px;
  margin: 50px 0 0 -13px;
  background-color: #fff;
}
/* line 319, ../sass/style.scss */
.main-container .right-wrapper .img-desc {
  margin-left: 20px;
  width: 203px;
  color: #6c757d;
}
/* line 324, ../sass/style.scss */
.main-container .right-wrapper .img-desc h6 {
  margin: 25px 0;
}
/* line 328, ../sass/style.scss */
.main-container .right-wrapper .img-desc .img-features {
  margin-left: 15px;
  list-style-type: none;
}
/* line 332, ../sass/style.scss */
.main-container .right-wrapper .img-desc .img-features li {
  font-weight: bold;
}
/* line 335, ../sass/style.scss */
.main-container .right-wrapper .img-desc .img-features li::before {
  content: "\2022";
  color: #fd6603;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* line 352, ../sass/style.scss */
.connect-buynow .left-wrapper h6 {
  display: inline-block;
  color: #0c3c61;
  font-weight: bold;
  padding: 10px 0;
}
/* line 358, ../sass/style.scss */
.connect-buynow .left-wrapper .super-ul {
  padding: 0 15px 15px 15px;
  list-style-type: none;
}
/* line 362, ../sass/style.scss */
.connect-buynow .left-wrapper .super-ul li {
  color: #6c757d;
  font-size: 15px;
}
/* line 366, ../sass/style.scss */
.connect-buynow .left-wrapper .super-ul li .secondary-ul {
  list-style-type: none;
  margin: 0 20px;
}
/* line 369, ../sass/style.scss */
.connect-buynow .left-wrapper .super-ul li .secondary-ul li {
  color: #3483d8;
}
/* line 372, ../sass/style.scss */
.connect-buynow .left-wrapper .super-ul li .secondary-ul li::before {
  content: "\2012";
  color: #fd6603;
  font-weight: bold;
  display: inline-block;
  width: 16px;
  margin-left: -16px;
}
/* line 383, ../sass/style.scss */
.connect-buynow .left-wrapper .super-ul li::before {
  content: "\2022";
  color: #fd6603;
  font-weight: bold;
  display: inline-block;
  width: 16px;
  margin-left: -16px;
}

/* line 399, ../sass/style.scss */
.connect-protocol .left-wrapper h6 {
  margin: 0 0;
  color: #0c3c61;
  font-weight: bold;
}
/* line 404, ../sass/style.scss */
.connect-protocol .left-wrapper .all-protocols {
  padding: 10px 0;
}
/* line 407, ../sass/style.scss */
.connect-protocol .left-wrapper .all-protocols i {
  margin: 0 5px 0 0;
}
/* line 414, ../sass/style.scss */
.connect-protocol .right-wrapper .img-quickserver img {
  border-radius: 10px;
}
/* line 418, ../sass/style.scss */
.connect-protocol .right-wrapper .img-desc {
  width: 260px;
}
/* line 421, ../sass/style.scss */
.connect-protocol .right-wrapper .img-desc h6 {
  margin: 25px 0;
  font-weight: bold;
  color: #0c3c61;
}
/* line 431, ../sass/style.scss */
.connect-protocol .protocol-carousel .container {
  border-top: 2px solid #aadff5;
}
/* line 434, ../sass/style.scss */
.connect-protocol .protocol-carousel .container .owl-carousel {
  padding: 25px 0;
  z-index: 0;
}
/* line 439, ../sass/style.scss */
.connect-protocol .protocol-carousel .container .owl-carousel .owl-nav button {
  outline: none;
}
/* line 442, ../sass/style.scss */
.connect-protocol .protocol-carousel .container .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: -28px;
  top: 25px;
  color: #fd6603;
  width: 5px;
  font-weight: bold;
  font-size: 40px;
}
/* line 451, ../sass/style.scss */
.connect-protocol .protocol-carousel .container .owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: -20px;
  top: 25px;
  color: #fd6603;
  width: 5px;
  font-weight: bold;
  font-size: 40px;
}
/* line 461, ../sass/style.scss */
.connect-protocol .protocol-carousel .container .owl-carousel .owl-nav.disabled {
  display: block;
}
/* line 465, ../sass/style.scss */
.connect-protocol .protocol-carousel .container .owl-carousel .owl-dots {
  display: none;
}

/* line 503, ../sass/style.scss */
.connect-resources .left-wrapper .accordion .card {
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: #aadff5;
  color: #0c3c61;
}
/* line 509, ../sass/style.scss */
.connect-resources .left-wrapper .accordion .card-header {
  background-color: #fff;
  border-width: 2px 0 0 0;
  border-style: solid;
  border-color: #aadff5;
}
/* line 515, ../sass/style.scss */
.connect-resources .left-wrapper .accordion .card-header .card-title {
  font-size: 18px;
  cursor: pointer;
}
/* line 520, ../sass/style.scss */
.connect-resources .left-wrapper .accordion .card-header::after {
  font-family: 'FontAwesome';
  content: "\f068";
  float: right;
}
/* line 527, ../sass/style.scss */
.connect-resources .left-wrapper .accordion .card-header.collapsed:after {
  content: "\f067";
}
/* line 532, ../sass/style.scss */
.connect-resources .left-wrapper .accordion .card-body {
  border-top: 2px solid #aadff5;
  width: 95%;
  margin: 0px auto;
}
/* line 542, ../sass/style.scss */
.connect-resources .right-wrapper .request-btn {
  outline: none;
  margin: 30px 20px;
}
/* line 546, ../sass/style.scss */
.connect-resources .right-wrapper .request-btn .btn-bg {
  outline: none;
  color: #fff;
  background-color: #fd6603;
  font-weight: bold;
}
/* line 552, ../sass/style.scss */
.connect-resources .right-wrapper .request-btn .btn-bg:hover {
  color: #fd6603;
  background-color: transparent;
  border: 1px solid #fd6603;
}
/* line 560, ../sass/style.scss */
.connect-resources .right-wrapper .img-quickserver {
  margin: 22px 0 0 -13px;
}
/* line 562, ../sass/style.scss */
.connect-resources .right-wrapper .img-quickserver img {
  border-radius: 10px;
}
/* line 566, ../sass/style.scss */
.connect-resources .right-wrapper .img-desc {
  width: 260px;
}
/* line 569, ../sass/style.scss */
.connect-resources .right-wrapper .img-desc h6 {
  margin: 25px 0;
  font-weight: bold;
  color: #0c3c61;
}

/* line 580, ../sass/style.scss */
.connect-specification h2 {
  display: inline-block;
  text-align: left;
  color: #0c3c61;
  font-weight: bold;
  margin-top: 8px;
  padding: 15px 0px;
}
/* line 588, ../sass/style.scss */
.connect-specification h6 {
  color: #0c3c61;
  font-weight: bold;
}
/* line 592, ../sass/style.scss */
.connect-specification .table-bordered {
  border: 1px solid #0c3c61;
}
/* line 597, ../sass/style.scss */
.connect-specification .table th, .connect-specification .table td {
  text-align: center;
  color: #4d4f50;
  font-weight: normal;
  font-size: 14px;
  border: 2px solid #0c3c61;
}
/* line 605, ../sass/style.scss */
.connect-specification .table .colspan-heading {
  background-color: #0c3c61;
}
/* line 608, ../sass/style.scss */
.connect-specification .table .colspan-heading h6 {
  color: #fff;
  margin: 5px 0;
}
/* line 614, ../sass/style.scss */
.connect-specification .table .rowspan-heading {
  padding: 0;
  background-color: #0c3c61;
  max-width: 20px;
  display: table-cell;
  vertical-align: middle;
}
/* line 622, ../sass/style.scss */
.connect-specification .table .rowspan-heading .headingV {
  transform: rotate(270deg);
  color: #fff;
  margin: 5px 0;
}
/* line 629, ../sass/style.scss */
.connect-specification ul {
  padding: 0 15px 15px 15px;
  list-style-type: none;
}
/* line 633, ../sass/style.scss */
.connect-specification ul li {
  color: #6c757d;
  font-size: 15px;
}
/* line 637, ../sass/style.scss */
.connect-specification ul li::before {
  content: "\2022";
  color: #fd6603;
  font-weight: bold;
  display: inline-block;
  width: 16px;
  margin-left: -16px;
}

/* line 650, ../sass/style.scss */
.footer {
  border-top: 2px solid #aadff5;
}
/* line 653, ../sass/style.scss */
.footer .container {
  padding: 0;
}
/* line 655, ../sass/style.scss */
.footer .container .upper-footer-wrapper {
  width: 72%;
  padding: 5px 100px 5px 0;
  display: block;
  cursor: pointer;
}
/* line 661, ../sass/style.scss */
.footer .container .upper-footer-wrapper .link-wrapper {
  display: inline-block;
}
/* line 663, ../sass/style.scss */
.footer .container .upper-footer-wrapper .link-wrapper.floatL {
  float: left;
}
/* line 666, ../sass/style.scss */
.footer .container .upper-footer-wrapper .link-wrapper.floatR {
  float: right;
}
/* line 670, ../sass/style.scss */
.footer .container .upper-footer-wrapper .link-wrapper .link-outer .arrow {
  color: #fd6603;
  font-weight: bold;
  margin-right: 5px;
  cursor: pointer;
}
/* line 677, ../sass/style.scss */
.footer .container .upper-footer-wrapper .link-wrapper .link-outer a {
  color: #2b5077;
  font-size: 14px;
  vertical-align: middle;
}
/* line 682, ../sass/style.scss */
.footer .container .upper-footer-wrapper .link-wrapper .link-outer a:hover {
  text-decoration: none;
  color: #214264;
}
/* line 690, ../sass/style.scss */
.footer .container .footer-accordian {
  display: none;
}
/* line 695, ../sass/style.scss */
.footer .expand-view {
  display: none;
  background-image: linear-gradient(to right, #1c2027, #0c3c61, #1c2027);
  color: #fff;
}
/* line 700, ../sass/style.scss */
.footer .expand-view .container p {
  padding: 20px;
  margin-bottom: 0;
}
/* line 706, ../sass/style.scss */
.footer .expand-view .container .row ul {
  list-style-type: none;
  margin: 16px;
}
/* line 710, ../sass/style.scss */
.footer .expand-view .container .row ul li a {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}
/* line 715, ../sass/style.scss */
.footer .expand-view .container .row ul li a:hover {
  text-decoration: none;
}
/* line 722, ../sass/style.scss */
.footer .expand-view .container::before {
  content: '';
  position: absolute;
  right: 667px;
  width: 0;
  height: 0;
  z-index: 1;
  border-top: solid 10px #FFF;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}
/* line 734, ../sass/style.scss */
.footer .expand-view::before {
  content: '';
  position: absolute;
  left: 185px;
  width: 0;
  height: 0;
  z-index: 1;
  border-top: solid 10px #FFF;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}
/* line 747, ../sass/style.scss */
.footer .lower-footer-wrapper {
  border-top: 2px solid #aadff5;
  padding: 5px 0 50px 0;
}
/* line 751, ../sass/style.scss */
.footer .lower-footer-wrapper .copy-right {
  font-size: 12px;
  color: #6c757d;
}
/* line 756, ../sass/style.scss */
.footer .lower-footer-wrapper .footer-links {
  display: inline-block;
  font-size: 13px;
  float: right;
}
/* line 760, ../sass/style.scss */
.footer .lower-footer-wrapper .footer-links a {
  color: #376596;
}
/* line 763, ../sass/style.scss */
.footer .lower-footer-wrapper .footer-links a:hover {
  text-decoration: none;
  color: #214264;
}
/* line 771, ../sass/style.scss */
.footer .lower-footer-wrapper .footer-links .social-links ul li {
  display: inline-block;
  width: 30px;
}
/* line 776, ../sass/style.scss */
.footer .lower-footer-wrapper .footer-links .social-links ul li a:hover {
  opacity: 0.75;
}
