/* line 1, ../sass/style.scss */
.header {
  border-bottom: 1px solid #7da1af;
  box-shadow: 1px 1px 5px #7da1af;
  background-color: #fff;
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}
/* line 12, ../sass/style.scss */
.header .super-nav .container .toggle-menu {
  display: none;
}
/* line 15, ../sass/style.scss */
.header .super-nav .container .logo {
  display: inline-block;
  width: 140px;
  height: 57px;
}
/* line 20, ../sass/style.scss */
.header .super-nav .container .search-wrap {
  display: none;
}
/* line 23, ../sass/style.scss */
.header .super-nav .container .menu-tab {
  display: inline-block;
  padding: 0 31px;
}
/* line 26, ../sass/style.scss */
.header .super-nav .container .menu-tab .smc-logo {
  display: none;
}
/* line 29, ../sass/style.scss */
.header .super-nav .container .menu-tab .close-menu {
  display: none;
}
/* line 32, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu {
  margin-bottom: 0;
  font-size: 0;
}
/* line 35, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li {
  display: inline-block;
  padding: 23px 35px;
  border-width: 0 0 0 2px;
  border-style: solid;
  -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#7da1af), to(#fff)) 1 100%;
}
/* line 41, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li a {
  font-size: 18px;
  font-weight: bold;
  color: #376596;
}
/* line 47, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li:hover {
  background-color: #0c3c61;
}
/* line 49, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li:hover a {
  color: #fff;
  text-decoration: none;
}
/* line 54, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li.active {
  background-color: #0c3c61;
}
/* line 56, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li.active a {
  color: #fff;
  text-decoration: none;
}
/* line 61, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu li:last-child {
  border-width: 0 2px 0 2px;
  border-style: solid;
  -webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(#7da1af), to(#fff)) 1 100%;
}
/* line 67, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 73px;
}
/* line 75, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container {
  background-image: linear-gradient(to right, #1c2027, #0c3c61, #1c2027);
  padding: 0;
  opacity: 0.95;
}
/* line 80, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item li {
  border-width: 0;
  border-style: none;
  display: block;
  padding: 10px 20px;
}
/* line 85, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item li a {
  color: #fff;
  font-size: 14px;
}
/* line 89, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item li a:hover {
  opacity: 0.75;
}
/* line 92, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item li a.active {
  color: #64a7d2;
}
/* line 96, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item li:hover {
  background-color: transparent;
}
/* line 102, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item .header-main-menu li .overview-active {
  color: #64a7d2;
}
/* line 106, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item .header-main-menu li .mobile-menu-wrapper {
  display: none;
}
/* line 112, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item .hover-menu-item li {
  display: none;
}
/* line 115, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item .hover-menu-item li a {
  color: orange;
}
/* line 119, ../sass/style.scss */
.header .super-nav .container .menu-tab .menu .submenu-wrap .container .menu-item .hover-menu-item .active-menu {
  color: orange;
}
/* line 128, ../sass/style.scss */
.header .super-nav .container .search-box {
  position: relative;
  display: inline-block;
  float: right;
  margin-top: 18px;
}
/* line 133, ../sass/style.scss */
.header .super-nav .container .search-box .search-icon {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 9px;
  font-size: 16px;
  color: #436f81;
}
/* line 142, ../sass/style.scss */
.header .super-nav .container .search-box .search-input {
  border: none;
  font-size: 14px;
  background-color: #b1daea73;
  outline: none;
  border-radius: 3px;
  padding: 6px 31px 6px 7px;
  color: #436f81;
}
/* line 150, ../sass/style.scss */
.header .super-nav .container .search-box .search-input::placeholder {
  color: #436f81;
}
/* line 157, ../sass/style.scss */
.header .secondary-nav {
  background-image: linear-gradient(to right, #1c2027, #0c3c61, #1c2027);
  border-bottom: 2px solid #85b9ce;
}
/* line 162, ../sass/style.scss */
.header .secondary-nav nav ul {
  margin-bottom: 0;
}
/* line 164, ../sass/style.scss */
.header .secondary-nav nav ul li {
  display: inline-block;
  padding: 5px 10px;
}
/* line 167, ../sass/style.scss */
.header .secondary-nav nav ul li a {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
/* line 171, ../sass/style.scss */
.header .secondary-nav nav ul li a:hover {
  text-decoration: none;
}
/* line 174, ../sass/style.scss */
.header .secondary-nav nav ul li a.active {
  background-color: #fff;
  color: gray;
  padding: 2px 10px 12px 10px;
  border-width: 2px 2px 0 2px;
  border-style: solid;
  border-color: #85b9ce;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
/* line 185, ../sass/style.scss */
.header .secondary-nav nav ul li:first-child {
  padding-left: 0;
}
/* line 189, ../sass/style.scss */
.header .secondary-nav nav ul span {
  color: #85b9ce;
  padding: 5px 0;
}
/* line 196, ../sass/style.scss */
.header .tab-dropdown {
  display: none;
}
/* line 201, ../sass/style.scss */
.header .breadcrumb-wrap nav .breadcrumb {
  margin-bottom: 0;
  background-color: #fff;
  padding: 12px 0;
}
/* line 205, ../sass/style.scss */
.header .breadcrumb-wrap nav .breadcrumb .breadcrumb-item {
  font-weight: bold;
  font-size: 16px;
  color: #376596;
}
/* line 210, ../sass/style.scss */
.header .breadcrumb-wrap nav .breadcrumb .breadcrumb-item a:hover {
  text-decoration: none;
}
/* line 213, ../sass/style.scss */
.header .breadcrumb-wrap nav .breadcrumb .breadcrumb-item a.active {
  color: #6c757d;
  cursor: default;
}

/* line 225, ../sass/style.scss */
.main-container {
  margin-top: 145px;
  overflow: hidden;
}
/* line 229, ../sass/style.scss */
.main-container .left-wrapper {
  float: left;
  display: inline-block;
  width: 71%;
  padding: 0 100px 50px 0;
  text-align: justify;
  border-right: 2px solid #aadff5;
}
/* line 237, ../sass/style.scss */
.main-container .right-wrapper {
  display: inline-block;
}
/* line 239, ../sass/style.scss */
.main-container .right-wrapper .img-quickserver {
  width: 334px;
  border: 2px solid #aadff5;
  border-radius: 10px;
  margin: 50px 0 0 -13px;
  background-color: #fff;
}
/* line 246, ../sass/style.scss */
.main-container .right-wrapper .img-desc {
  margin-left: 20px;
  width: 203px;
  color: #6c757d;
}
/* line 250, ../sass/style.scss */
.main-container .right-wrapper .img-desc h6 {
  margin: 25px 0;
}
/* line 253, ../sass/style.scss */
.main-container .right-wrapper .img-desc .img-features {
  margin-left: 15px;
  list-style-type: none;
}
/* line 256, ../sass/style.scss */
.main-container .right-wrapper .img-desc .img-features li {
  font-weight: bold;
}
/* line 258, ../sass/style.scss */
.main-container .right-wrapper .img-desc .img-features li::before {
  content: "\2022";
  color: #fd6603;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* line 275, ../sass/style.scss */
.connect-buynow .left-wrapper h6 {
  padding: 10px 0;
}
/* line 278, ../sass/style.scss */
.connect-buynow .left-wrapper .super-ul {
  padding: 0 15px 15px 15px;
  list-style-type: none;
}
/* line 281, ../sass/style.scss */
.connect-buynow .left-wrapper .super-ul li {
  color: #6c757d;
  font-size: 15px;
}
/* line 284, ../sass/style.scss */
.connect-buynow .left-wrapper .super-ul li .secondary-ul {
  list-style-type: none;
  margin: 0 20px;
}
/* line 287, ../sass/style.scss */
.connect-buynow .left-wrapper .super-ul li .secondary-ul li {
  color: #3483d8;
}
/* line 289, ../sass/style.scss */
.connect-buynow .left-wrapper .super-ul li .secondary-ul li::before {
  content: "\2012";
  color: #fd6603;
  font-weight: bold;
  display: inline-block;
  width: 16px;
  margin-left: -16px;
}
/* line 299, ../sass/style.scss */
.connect-buynow .left-wrapper .super-ul li::before {
  content: "\2022";
  color: #fd6603;
  font-weight: bold;
  display: inline-block;
  width: 16px;
  margin-left: -16px;
}
/* line 310, ../sass/style.scss */
.connect-buynow .image-gallery-wrapper {
  text-align: center;
}
/* line 312, ../sass/style.scss */
.connect-buynow .image-gallery-wrapper .container {
  border-top: 2px solid #aadff5;
}
/* line 315, ../sass/style.scss */
.connect-buynow .image-gallery-wrapper .container .row .col-wrapper {
  margin: 20px 0;
}
/* line 318, ../sass/style.scss */
.connect-buynow .image-gallery-wrapper .container .row .image-warpper {
  cursor: pointer;
}
/* line 320, ../sass/style.scss */
.connect-buynow .image-gallery-wrapper .container .row .image-warpper img {
  height: 170px;
  width: 253px;
}
/* line 324, ../sass/style.scss */
.connect-buynow .image-gallery-wrapper .container .row .image-warpper:hover {
  opacity: 0.85;
}
/* line 331, ../sass/style.scss */
.connect-buynow .imagepreview {
  width: 100%;
  height: 615px;
}
/* line 335, ../sass/style.scss */
.connect-buynow .modal {
  text-align: center;
}
/* line 337, ../sass/style.scss */
.connect-buynow .modal::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
/* line 345, ../sass/style.scss */
.connect-buynow .modal-dialog {
  width: 80%;
  display: inline-block;
  vertical-align: middle;
}
/* line 349, ../sass/style.scss */
.connect-buynow .modal-dialog .modal-header {
  padding: 5px 15px;
  border-bottom: 0;
}
/* line 353, ../sass/style.scss */
.connect-buynow .modal-dialog .modal-body {
  padding-top: 0;
}

/* line 362, ../sass/style.scss */
.connect-protocol .left-wrapper .all-protocols {
  padding: 10px 0;
}
/* line 364, ../sass/style.scss */
.connect-protocol .left-wrapper .all-protocols i {
  margin: 0 5px 0 0;
}
/* line 371, ../sass/style.scss */
.connect-protocol .right-wrapper .img-quickserver img {
  border-radius: 10px;
}
/* line 375, ../sass/style.scss */
.connect-protocol .right-wrapper .img-desc {
  width: 260px;
}
/* line 377, ../sass/style.scss */
.connect-protocol .right-wrapper .img-desc h6 {
  margin: 25px 0;
}
/* line 384, ../sass/style.scss */
.connect-protocol .protocol-carousel .container {
  border-top: 2px solid #aadff5;
}
/* line 386, ../sass/style.scss */
.connect-protocol .protocol-carousel .container .owl-carousel {
  padding: 25px 0;
  z-index: 0;
}
/* line 389, ../sass/style.scss */
.connect-protocol .protocol-carousel .container .owl-carousel .owl-image {
  width: 130px;
  height: 45px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
/* line 398, ../sass/style.scss */
.connect-protocol .protocol-carousel .container .owl-carousel .owl-nav button {
  outline: none;
}
/* line 401, ../sass/style.scss */
.connect-protocol .protocol-carousel .container .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: -28px;
  top: 15px;
  color: #fd6603;
  width: 5px;
  font-weight: bold;
  font-size: 40px;
}
/* line 410, ../sass/style.scss */
.connect-protocol .protocol-carousel .container .owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: -20px;
  top: 15px;
  color: #fd6603;
  width: 5px;
  font-weight: bold;
  font-size: 40px;
}
/* line 419, ../sass/style.scss */
.connect-protocol .protocol-carousel .container .owl-carousel .owl-nav.disabled {
  display: block;
}

/* line 432, ../sass/style.scss */
.connect-resources .left-wrapper .accordion [data-toggle="collapse"] .fa:before {
  content: "\f056";
}
/* line 436, ../sass/style.scss */
.connect-resources .left-wrapper .accordion [data-toggle="collapse"].collapsed .fa:before {
  content: "\f055";
}
/* line 439, ../sass/style.scss */
.connect-resources .left-wrapper .accordion .card {
  border-width: 0 0 0 0;
}
/* line 441, ../sass/style.scss */
.connect-resources .left-wrapper .accordion .card .card-header {
  background-color: #fff;
  border-width: 2px 0 0 0;
  border-style: solid;
  border-color: #aadff5;
}
/* line 446, ../sass/style.scss */
.connect-resources .left-wrapper .accordion .card .card-header .btn {
  padding: 0;
  width: 100%;
  text-align: left;
}
/* line 453, ../sass/style.scss */
.connect-resources .left-wrapper .accordion .card-body {
  border-top: 2px solid #aadff5;
  width: 95%;
  margin: 0px auto;
}
/* line 461, ../sass/style.scss */
.connect-resources .right-wrapper .request-btn {
  outline: none;
  margin: 30px 20px;
}
/* line 464, ../sass/style.scss */
.connect-resources .right-wrapper .request-btn .btn-bg {
  outline: none;
  color: #fff;
  background-color: #fd6603;
  font-weight: bold;
}
/* line 469, ../sass/style.scss */
.connect-resources .right-wrapper .request-btn .btn-bg:hover {
  color: #fd6603;
  background-color: transparent;
  border: 1px solid #fd6603;
}
/* line 476, ../sass/style.scss */
.connect-resources .right-wrapper .img-quickserver {
  margin: 22px 0 0 -13px;
}
/* line 478, ../sass/style.scss */
.connect-resources .right-wrapper .img-quickserver img {
  border-radius: 10px;
}
/* line 482, ../sass/style.scss */
.connect-resources .right-wrapper .img-desc {
  width: 260px;
}
/* line 484, ../sass/style.scss */
.connect-resources .right-wrapper .img-desc h6 {
  margin: 25px 0;
}

/* line 493, ../sass/style.scss */
.connect-specification .table-bordered {
  border: 1px solid #0c3c61;
}
/* line 496, ../sass/style.scss */
.connect-specification .table {
  overflow-x: auto;
  max-width: 100%;
}
/* line 499, ../sass/style.scss */
.connect-specification .table th, .connect-specification .table td {
  text-align: center;
  color: #4d4f50;
  font-weight: normal;
  font-size: 14px;
  border: 2px solid #0c3c61;
}
/* line 506, ../sass/style.scss */
.connect-specification .table .colspan-heading {
  background-color: #0c3c61;
}
/* line 508, ../sass/style.scss */
.connect-specification .table .colspan-heading h6 {
  color: #fff;
  margin: 5px 0;
}
/* line 513, ../sass/style.scss */
.connect-specification .table .rowspan-heading {
  padding: 0;
  background-color: #0c3c61;
  max-width: 20px;
  display: table-cell;
  vertical-align: middle;
}
/* line 519, ../sass/style.scss */
.connect-specification .table .rowspan-heading .headingV {
  transform: rotate(270deg);
  color: #fff;
  margin: 5px 0;
}
/* line 526, ../sass/style.scss */
.connect-specification ul {
  padding: 0 15px 15px 25px;
  list-style-type: none;
}
/* line 529, ../sass/style.scss */
.connect-specification ul li {
  color: #6c757d;
  font-size: 15px;
}
/* line 532, ../sass/style.scss */
.connect-specification ul li::before {
  content: "\2022";
  color: #fd6603;
  font-weight: bold;
  display: inline-block;
  width: 16px;
  margin-left: -16px;
}

/* line 544, ../sass/style.scss */
.contactus {
  margin-bottom: 20px;
}
/* line 546, ../sass/style.scss */
.contactus .btn-bg {
  background-color: #0c3c61;
  padding: 8px;
  border: 1px solid #0c3c61;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}
/* line 555, ../sass/style.scss */
.contactus .personal-info {
  padding: 10px;
  border: 1px solid #c1c1c1;
}
/* line 559, ../sass/style.scss */
.contactus .form-group {
  display: inline-block;
  width: 32%;
  margin-left: 8px;
  color: #6c757d;
}
/* line 564, ../sass/style.scss */
.contactus .form-group .form-txt {
  padding: 7px;
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 3px;
}
/* line 570, ../sass/style.scss */
.contactus .form-group .form-txt::placeholder {
  color: #6c757d;
}
/* line 575, ../sass/style.scss */
.contactus .form-control {
  color: #6c757d;
  padding: 3px;
  border-radius: 3px;
}
/* line 580, ../sass/style.scss */
.contactus option[disabled] {
  display: none;
}
/* line 583, ../sass/style.scss */
.contactus .form-wrap {
  margin: 0 8px;
  color: #6c757d;
}
/* line 586, ../sass/style.scss */
.contactus .form-wrap textarea {
  border-radius: 3px;
  border: 1px solid #ced4da;
  width: 100%;
  padding: 5px;
}
/* line 592, ../sass/style.scss */
.contactus .form-wrap input {
  margin-right: 5px;
}
/* line 596, ../sass/style.scss */
.contactus .info-wrap {
  border: 1px solid #ced4da;
  margin: 0 8px;
  border-radius: 3px;
  padding: 5px 0;
}
/* line 601, ../sass/style.scss */
.contactus .info-wrap .info-content {
  padding: 10px 0;
  border: 1px solid #ced4da;
  margin: 0 10px 5px 10px;
  border-radius: 3px;
}
/* line 608, ../sass/style.scss */
.contactus .form-btn {
  margin: 0 8px;
  padding-top: 10px;
  text-align: center;
}
/* line 612, ../sass/style.scss */
.contactus .form-btn .btn-clr {
  color: #6c757d;
}
/* line 615, ../sass/style.scss */
.contactus .form-btn .btn-submit {
  background-color: #0c3c61;
  color: #fff;
}

/* line 624, ../sass/style.scss */
.footer {
  border-top: 2px solid #aadff5;
}
/* line 627, ../sass/style.scss */
.footer .container .upper-footer-wrapper {
  cursor: pointer;
}
/* line 630, ../sass/style.scss */
.footer .container .upper-footer-wrapper .row .col-padding {
  padding: 5px 15px;
}
/* line 633, ../sass/style.scss */
.footer .container .upper-footer-wrapper .row .arrow {
  color: #fd6603;
  font-weight: bold;
  margin-right: 5px;
  cursor: pointer;
}
/* line 639, ../sass/style.scss */
.footer .container .upper-footer-wrapper .row a {
  color: #2b5077;
  font-size: 14px;
  vertical-align: middle;
}
/* line 643, ../sass/style.scss */
.footer .container .upper-footer-wrapper .row a:hover {
  text-decoration: none;
  color: #214264;
}
/* line 650, ../sass/style.scss */
.footer .container .footer-accordian {
  display: none;
}
/* line 655, ../sass/style.scss */
.footer .expand-view {
  display: none;
  background-image: linear-gradient(to right, #1c2027, #0c3c61, #1c2027);
  color: #fff;
}
/* line 660, ../sass/style.scss */
.footer .expand-view .container p {
  padding: 20px;
  margin-bottom: 0;
}
/* line 666, ../sass/style.scss */
.footer .expand-view .container .row .col-links::before {
  content: '';
  position: absolute;
  left: 11px;
  width: 0px;
  height: 0;
  z-index: 1;
  border-top: solid 10px #FFF;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}
/* line 678, ../sass/style.scss */
.footer .expand-view .container .row ul {
  list-style-type: none;
  margin: 16px;
}
/* line 682, ../sass/style.scss */
.footer .expand-view .container .row ul li a {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}
/* line 687, ../sass/style.scss */
.footer .expand-view .container .row ul li a:hover {
  text-decoration: none;
}
/* line 696, ../sass/style.scss */
.footer .footer-info-wrapper {
  border-top: 2px solid #aadff5;
  padding: 5px 0 50px 0;
}
/* line 699, ../sass/style.scss */
.footer .footer-info-wrapper .copy-right {
  font-size: 12px;
  color: #6c757d;
}
/* line 703, ../sass/style.scss */
.footer .footer-info-wrapper .footer-links {
  display: inline-block;
  font-size: 13px;
  float: right;
}
/* line 707, ../sass/style.scss */
.footer .footer-info-wrapper .footer-links a {
  color: #376596;
}
/* line 709, ../sass/style.scss */
.footer .footer-info-wrapper .footer-links a:hover {
  text-decoration: none;
  color: #214264;
}
/* line 716, ../sass/style.scss */
.footer .footer-info-wrapper .footer-links .social-links ul li {
  display: inline-block;
}
/* line 719, ../sass/style.scss */
.footer .footer-info-wrapper .footer-links .social-links ul li a img {
  width: 30px;
  height: 30px;
}
/* line 723, ../sass/style.scss */
.footer .footer-info-wrapper .footer-links .social-links ul li a:hover {
  opacity: 0.75;
}
